---
  title: Tokyo
  slug: '2017/tokyo'
  subtitle: A city with unparalleled scale
  body_classes: page-photoessays
  meta_description: A city with unparalleled scale
  meta_keywords:
  trip:
    location: japan
    weather: winter
    arrival: plane
    departure: train
    steps: 45631
    photos: 166
    dates:
      from: 2017-01-07
      to: 2017-01-15
  ogp:
    og:
      title: Tokyo 2017
      description: A city with unparalleled scale
      image:
        '': http://brett.cool/images/photoessays/2016/cssconfau/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Tokyo 2017
      description: A city with unparalleled scale
      image:
        '': http://brett.cool/images/photoessays/2016/cssconfau/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Content_photoessays.Content_photoessays--full
  - data.tokyo.dates.each do | date |
    .PhotoEssayItem
      = link_to "/photoessays/2017/tokyo/#{date.slug}", class: "PhotoEssayCard" do
        .PhotoEssayCard_caption
          .PhotoEssayCard_title= date.title
          .PhotoEssayCard_subtitle= date.subtitle
        .PhotoEssayCard_cardImage{style: "background-image: url('/images/photoessays/#{current_page.data.slug}/#{date.slug}/banner.jpg')"}
