%ul.navigation
  %li{nav_active("index.html")}= link_to "About", "/"
  %li.navigation_photoessays{nav_active("photoessays.html")}= link_to "Photoessays", "/photoessays"
  %li.navigation_projects{nav_active("projects.html")}= link_to "Projects", "/projects"
  %li.navigation_talk{nav_active("talk.html")}= link_to "Talks", "/talk"
  %li.navigation_blog{nav_active("blog.html")}= link_to "Blog", "/blog"
