= wrap_layout :layout do
  .Page
    .Content
      .Row.pb3
        .Content_Main
          %h1= current_article.title
          .Article_metadata
            %span.metadata_date= Date.parse(current_article.date.to_s).strftime('%b %e, %Y')
            •
            %span.metadata_reading_time #{time_label current_article.body}
      = yield
