- @og_label1_override = 'Reading Time 🕖'
- @og_data1_override = time_label current_article.body
- @og_label2_override = 'Published 📅'
- @og_data2_override = Date.parse(current_article.date.to_s).strftime('%b %e, %Y')

= wrap_layout :layout do
  .Page
    .Content
      = partial("layouts/posts/header/#{current_article.data.type}", locals: { article: current_article })
      .Row
        .Content_Main.Content_Article
          = yield
      - if current_article.data.type == 'link'
        = partial("layouts/posts/footer/#{current_article.data.type}", locals: { article: current_article })
