!!! 5
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}

    %title= render_page_title
    %meta{name: "description", content: meta_description}
    %meta{name: "keywords", content: meta_keywords}
    %meta{name: "author", content: data.config.site.author}

    -# Generated Geo-Tags: http://www.geo-tag.de/generator
    %meta{name: "DC.title", content: render_page_title}
    -# %meta{name: "geo.region", content: "XX-XX"}
    -# %meta{name: "geo.placename", content: "XXXXX"}
    -# %meta{name: "geo.position", content: "XXXX;XXXX"}
    -# %meta{name: "ICBM", content: "XXXX XXXX"}

    -# Standard viewport tag to set the viewport to the device's width,
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    -# Stylesheets
    = stylesheet_link_tag 'styles'

    %link{rel: "author", href: "/humans.txt"}

    -# App Icons
    %link{href: "/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"}/
    %link{href: "/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
    %link{href: "/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
    %link{href: "/manifest.json", rel: "manifest"}/
    %link{color: "#000000", href: "/safari-pinned-tab.svg", rel: "mask-icon"}/
    %meta{content: "#ffffff", name: "theme-color"}/

    %link{href: "https://fonts.googleapis.com/css?family=Crimson+Text:400i|Roboto:400,400i,900", rel: "stylesheet"}/

    = partial "layouts/meta"

    /[if lte IE 8]
      -# Loading fallback scripts from a CDN for older IE versions could be beneficial
      -# as it may have been cached by the browser before

      -# html5shiv (don't include it in modernizr)
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"

      -# Respond.js (responsive styles for old browsers)
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"

    - if build?
      -# Google Analytics
      = partial "shared/google_analytics"

  %body{class: current_page.data.body_classes || "page"}
    - unless @hide_header.present?
      .Header.Content.Content--fluid
        .Row  
          = link_to '/', class: 'Logo' do
            %svg{height: "23", viewbox: "0 0 21 23", width: "21", xmlns: "http://www.w3.org/2000/svg"}
              %g{fill: "none", "fill-rule": "evenodd"}
                %path{d: "M11.5334332,1.2769651 C10.8949583,0.9128639 10.1050417,0.9128639 9.46656683,1.2769651 L2.03973757,5.51224111 C1.41094377,5.87082149 1.02439024,6.52827987 1.02439024,7.23916521 L1.02439024,15.7608348 C1.02439024,16.4717201 1.41094377,17.1291785 2.03973757,17.4877589 L9.46656683,21.7230349 C10.1050417,22.0871361 10.8949583,22.0871361 11.5334332,21.7230349 L18.9602624,17.4877589 C19.5890562,17.1291785 19.9756098,16.4717201 19.9756098,15.7608348 L19.9756098,7.23916521 C19.9756098,6.52827987 19.5890562,5.87082149 18.9602624,5.51224111 L11.5334332,1.2769651 Z M19.476979,4.64877906 C20.4201697,5.18664963 21,6.1728372 21,7.23916521 L21,15.7608348 C21,16.8271628 20.4201697,17.8133504 19.476979,18.3512209 L12.0501497,22.5864969 C11.0924374,23.1326488 9.90756261,23.1326488 8.94985025,22.5864969 L1.52302098,18.3512209 C0.579830296,17.8133504 3.41082176e-14,16.8271628 3.2970916e-14,15.7608348 L2.84217094e-14,7.23916521 C2.84217094e-14,6.1728372 0.579830296,5.18664963 1.52302098,4.64877906 L8.94985025,0.413503052 C9.90756261,-0.13264875 11.0924374,-0.13264875 12.0501497,0.413503052 L19.476979,4.64877906 Z", fill: "#000000", "fill-rule": "nonzero"}
                %path{d: "M7.00911805,7.71341447 L6.11213053,7.23043319 L10.0515062,0.258509357 L10.9484938,0.741490643 L7.00911805,7.71341447 Z M10.3370396,6.45746853 L10.052728,5.4967551 L17.1049925,3.50792165 L17.8385521,4.3419411 L10.3370396,6.45746853 Z M14.4450081,7.90908621 L14.942187,7.03476144 L20.6952054,10.1522496 L20.5611121,11.2233259 L14.4450081,7.90908621 Z M15.8995595,11.639866 L16.8830541,11.360134 L18.8322905,17.8908904 L17.9844348,18.6250695 L15.8995595,11.639866 Z M14.2449959,15.2829009 L15.1421992,15.7655 L11.7472377,21.7801213 L11.2046992,22.7412996 L10.3074959,22.2587004 L10.4305133,22.0407589 L14.2449959,15.2829009 Z M10.4881959,16.7029595 L10.7679017,17.6649604 L4.32284121,19.4507161 L3.41181032,18.6636386 L10.4881959,16.7029595 Z M6.80907446,15.0869626 L6.31217411,15.9614383 L0.513465738,12.8214938 L0.527709111,11.6856641 L6.80907446,15.0869626 Z M5.35782907,11.3600602 L4.37437844,11.6399398 L2.32151618,4.76592583 L3.21378464,4.18072263 L5.35782907,11.3600602 Z", fill: "#000000", "fill-rule": "nonzero"}
                %path{d: "M10.6280488,6.34642182 L6.94418446,7.8536078 L5.41503904,11.5 L6.94418446,15.1463922 L10.6280488,16.6535782 L14.3119131,15.1463922 L15.8410585,11.5 L14.3119131,7.8536078 L10.6280488,6.34642182 Z M10.8260302,5.34314664 L14.9035344,7.01138324 C15.028813,7.06263867 15.1281041,7.1603746 15.1795667,7.28309206 L16.8685243,11.3105715 C16.9194329,11.431968 16.9194329,11.568032 16.8685243,11.6894285 L15.1795667,15.7169079 C15.1281041,15.8396254 15.028813,15.9373613 14.9035344,15.9886168 L10.8260302,17.6568534 C10.6993794,17.7086702 10.5567182,17.7086702 10.4300674,17.6568534 L6.35256312,15.9886168 C6.22728458,15.9373613 6.12799348,15.8396254 6.07653087,15.7169079 L4.3875733,11.6894285 C4.33666466,11.568032 4.33666466,11.431968 4.3875733,11.3105715 L6.07653087,7.28309206 C6.12799348,7.1603746 6.22728458,7.06263867 6.35256312,7.01138324 L10.4300674,5.34314664 C10.5567182,5.29132977 10.6993794,5.29132977 10.8260302,5.34314664 Z", fill: "#000000", "fill-rule": "nonzero"}
          .Header_navigation= partial "layouts/nav"
    
    = yield

    .Footer
      = partial "layouts/nav"

    = javascript_include_tag "scripts"
