.Banner{style: "background-image: url('/images/photoessays/#{slug}/banner.jpg')"}
  .Banner_caption
    %h1= title
    %p= subtitle
  - if trip.present?
    .Banner_TripSummary
      %dl.TripIcon--withText{class: "TripIcon_transport--#{trip[:arrival]}"}
        %dt= trip[:dates][:from].strftime("%b %-d, %Y")
        %dd Arrived via #{trip[:arrival].capitalize}
      %dl.TripIcon--withText{class: "TripIcon_transport--#{trip[:departure]}"}
        %dt= trip[:dates][:to].strftime("%b %-d, %Y")
        %dd Departed via #{trip[:departure].capitalize}
      =# .TripIcon{class: "TripIcon_weather--#{trip[:weather]}"}
  = partial "photoessays/components/scroll"
