.Banner
  .Banner_caption
    %h1= title
    %p= subtitle
  - if trip.present?
    .Banner_TripSummary
      - if trip.dig(:dates).present?
        - @arrival_date = trip[:dates][:from]
        - @departure_date = trip[:dates][:to]
        %dl.TripIcon--withText{class: "TripIcon_transport--#{trip[:arrival]}"}
          %dt
            %span.u-show--small-up= @arrival_date.strftime("%b %-d, %Y")
            %span.u-show--mobile= @arrival_date.strftime("%b %-d")
          %dd Arrived
        %dl.TripIcon--withText{class: "TripIcon_transport--#{trip[:departure]}"}
          %dt
            %span.u-show--small-up= @departure_date.strftime("%b %-d, %Y")
            %span.u-show--mobile= @departure_date.strftime("%b %-d")
          %dd Departed
        %dl
          %dt= (@departure_date.mjd - @arrival_date.mjd) + 1
          %dd Days
      - if trip[:steps].present?
        %dl
          %dt= number_with_delimiter(trip[:steps], :delimiter => ',')
          %dd Steps
      - if trip[:km].present?
        %dl
          %dt #{number_with_delimiter(trip[:km], :delimiter => ',')}km
          %dd Walked
      - if trip[:photos].present?
        %dl
          %dt= number_with_delimiter(trip[:photos], :delimiter => ',')
          %dd Photos
      - if trip[:cities].present?
        %dl
          %dt= number_with_delimiter(trip[:cities], :delimiter => ',')
          %dd Cities
      =# .TripIcon{class: "TripIcon_weather--#{trip[:weather]}"}
  .Banner_image{style: "background-image: url('/images/photoessays/#{slug}/banner.jpg')"}

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

:javascript
  $(document).ready(function () {
    $('.Banner').addClass('Banner-animateIn')
  });
