.PhotoEssayItem
  - if photoessay.draft
    .PhotoEssayCard.PhotoEssayCard--draft
      .PhotoEssayCard_caption
        .PhotoEssayCard_title= photoessay.title
        .PhotoEssayCard_subtitle Coming Soon
      = image_tag "images/photoessays/#{photoessay.url}/card.jpg", alt: photoessay.name, class: 'PhotoEssayCard_cardImage'
  - else
    = link_to photoessay_link(photoessay), id: photoessay.url, class: "PhotoEssayCard PhotoEssayCard--#{photoessay.url}" do
      .PhotoEssayCard_caption
        .PhotoEssayCard_title= photoessay.title
        .PhotoEssayCard_subtitle= photoessay.date.strftime("%B %-d, %Y")
      = image_tag "images/photoessays/#{photoessay.url}/card.jpg", alt: photoessay.name, class: 'PhotoEssayCard_cardImage'
