- if photoessay.draft
  .PhotoEssayItem.PhotoEssayItem--draft
    .PhotoEssayCard
      .PhotoEssayCard_cardImage{style: "background-image: url('/images/photoessays/#{photoessay.url}/card.jpg')"}
    .PhotoEssayCaption.pt1.pb2
      .PhotoEssayCaption_title= photoessay.title
      .PhotoEssayCaption_date= photoessay.date.strftime("%B %Y")
- else
  .PhotoEssayItem
    = link_to photoessay_link(photoessay), id: photoessay.url do
      .PhotoEssayCard
        .PhotoEssayCard_cardImage{style: "background-image: url('/images/photoessays/#{photoessay.url}/card.jpg')"}

      .PhotoEssayCaption.pt1.pb2
        .PhotoEssayCaption_title= photoessay.title
        .PhotoEssayCaption_date= photoessay.date.strftime("%B %Y")
