.PhotoEssayItem
  - if photoessay.draft
    .PhotoEssayCard.PhotoEssayCard--draft
      .PhotoEssayCard_caption
        .PhotoEssayCard_title= photoessay.title
        .PhotoEssayCard_subtitle Coming Soon
      .PhotoEssayCard_cardImage{style: "background-image: url('/images/photoessays/#{photoessay.url}/card.jpg')"}
  - else
    = link_to photoessay_link(photoessay), id: photoessay.url, class: "PhotoEssayCard PhotoEssayCard--#{photoessay.url}" do
      .PhotoEssayCard_caption
        .PhotoEssayCard_title= photoessay.title
        .PhotoEssayCard_subtitle= photoessay.date.strftime("%B %-d, %Y")
      .PhotoEssayCard_cardImage{style: "background-image: url('/images/photoessays/#{photoessay.url}/card.jpg')"}
