.Row
  .Content_Main
    .PlaceCard
      .PlaceCard_cover{style: "background-image: url('/images/photoessays/#{slug}/#{image}.jpg')"}
      .PlaceCard_icon
      .PlaceCard_title= title
      .PlaceCard_address= airline

      .PlaceCard_attributeGrid
        .PlaceCard_attributes.PlaceCard_attributes--flight
          %dl.Attribute_pair
            %dt= origin
            %dd= depart

          %dl.Attribute_pair
            %dt= destination
            %dd= arrive
        
        - if !gate.empty? && !seat.empty?
          .PlaceCard_attributes
            %dl.Attribute_pair
              %dt= gate
              %dd Gate
            %dl.Attribute_pair
              %dt= seat
              %dd Seat

      - unless rating.empty?
        .PlaceCard_rating{class: "PlaceCard_rating--#{rating}"}
          - rating.times do
            ★
