.Row
  .Content_Main
    .PlaceCard
      .PlaceCard_cover{style: "background-image: url('/images/photoessays/#{slug}/#{image}.jpg')"}
      .PlaceCard_icon
      .PlaceCard_title= title
      .PlaceCard_address= address

      .PlaceCard_attributes
        %dl.Attribute_pair
          %dt= checkin.strftime("%-d %b")
          %dd Check in
        %dl.Attribute_pair
          %dt= checkout.strftime("%-d %b")
          %dd Check out

      .PlaceCard_rating{class: "PlaceCard_rating--#{rating}"}
        - rating.times do
          ★
