.Row
  .Content_Main
    .PlaceCard.PlaceCard--flight
      .PlaceCard_cover{style: "background-image: url('/images/photoessays/#{slug}/#{block.image}.jpg')"}
      .PlaceCard_icon
      .PlaceCard_title= block.title
      .PlaceCard_address= block.airline

      .PlaceCard_attributeGrid
        .PlaceCard_attributes.PlaceCard_attributes--flight
          %dl.Attribute_pair.Attribute_pair__origin
            %dt= block.origin
            %dd= block.depart

          %dl.Attribute_pair.Attribute_pair__destination
            %dt= block.destination
            %dd= block.arrive
        
          - if block.gate.present? && block.seat.present?
            %dl.Attribute_pair
              %dt= block.gate
              %dd Gate
            %dl.Attribute_pair
              %dt= block.seat
              %dd Seat

      - if block.rating.present?
        = partial("photoessays/blocks/common/rating", locals: {slug: current_page.data.slug, block: block})
