<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

:javascript
  $(document).ready(function () {
    $('.Menu_Button').on('click', function() {
      $('.PhotoEssaySubHeader').toggleClass('PhotoEssaySubHeader--MenuOpen')
    });
  });

.PhotoEssaySubHeader
  .Content.Content--fluid
    .Row
      .SubHeader_Main
        .LinkBreadCrumbs
          #{link_to 'Photoessays', '/photoessays/', class: 'BreadCrumb_Header'}
          #{link_to collection_title, "/photoessays/#{collection_path}", class: 'BreadCrumb_Header'}
        .Menu_Button
          <span class="DayDate">#{Date.parse(essay[0]).strftime("%b %-d")}</span> #{essay[1].title}
      .DayMenu
        .MenuClip
          - data.photo_essays["#{collection_path[:year]}"]["#{collection_path[:folder]}"].sort{ |a, b| a.to_s.downcase <=> b.to_s.downcase }.each do | id, day |
            - if collection.current.file.to_s == id.to_s
              .DayItem.DayItem--Current
                <span class="DayDate">#{Date.parse(id).strftime("%b %-d")}</span> #{day.title} <span class="DayDescription">#{day.subtitle}</span>
            - else
              = link_to "/photoessays/#{collection_path[:year]}/#{collection_path[:folder]}/#{Date.parse(id).strftime("%b-%d").to_s.downcase}", class: 'DayItem' do
                <span class="DayDate">#{Date.parse(id).strftime("%b %-d")}</span> #{day.title} <span class="DayDescription">#{day.subtitle}</span>
