---
  title: Mixin 2016
  slug: mixin-2016
  subtitle: A conference for designers, developers, and those around and in between.
  body_classes: page-photoessays
  meta_description: A conference for designers, developers, and those around and in between.
  meta_keywords:
  ogp:
    og:
      title: Photoessays
      description: A conference for designers, developers, and those around and in between.
      image:
        '': http://brett.cool/images/photoessays/mixin-2016/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Mixin 2016
      description: A conference for designers, developers, and those around and in between.
      image:
        '': http://brett.cool/images/photoessays/mixin-2016/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, 'subtitle': current_page.data.subtitle})

.Content#story
  .Content_row
    .Content_main
      .Article_content
        %p Mixin,

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['shape','speakers'], 'right': ['moi'] })
  = partial("photoessays/components/photo_row_three", locals: {slug: current_page.data.slug, 'photos': ['shape','speakers']})
  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, 'caption': 'I am a caption and I hope you like it.', 'photo': 'shape'})
  = partial("photoessays/components/photo_left", locals: {slug: current_page.data.slug, 'caption': 'I am a caption and I hope you like it.', 'photo': 'shape'})

  = partial("photoessays/components/photo_left", locals: {slug: current_page.data.slug, 'caption': 'Una clearly demonstrating we have some things left to learn about image', 'photo': 'filesize'})

  = partial("photoessays/components/photo", locals: {slug: current_page.data.slug, 'caption': 'Mike Riethmuller', 'photo': 'mike'})

  = partial("photoessays/components/photo", locals: {slug: current_page.data.slug, 'caption': 'Alice Lee', 'photo': 'alice'})
