.Post
  .Row.pb3
    .Content_Main
      %h2.h1_scale= link_to article.title, article
      .Article_metadata
        %span.metadata_date= Date.parse(article.date.to_s).strftime('%b %e, %Y')
        ·
        %span.metadata_reading_time #{time_label article.body}
  .Row
    .Content_Main= article.summary
  .Row.pb2.pt2
    .Content_Main.Content_Article
      = link_to article, class: 'read-more' do
        Continue Reading
  .Row.pt2.pb4
    .Post__footer
      Filed Under:

