:javascript
  $(document).ready(function () {
    $('.Menu_Button').on('click', function() {
      $('.PhotoEssaySubHeader').toggleClass('PhotoEssaySubHeader--MenuOpen')
    });
  });

.PhotoEssaySubHeader
  .Content.Content--fluid
    .Row
      .SubHeader_Main
        .LinkBreadCrumbs
          #{link_to 'Photoessays', '/photoessays/', class: 'BreadCrumb_Header'}
          #{link_to 'Localhost Deployment', '/photoessays/2017/localhost', class: 'BreadCrumb_Header'}
        .Menu_Button
          - data.localhost.dates.each do | date |
            - if date.slug === current_page.data.collection.current
              <span class="DayDate">#{date.date.strftime("%b %-d")}</span> #{date.title}
      .DayMenu
        .MenuClip
          - data.localhost.dates.each do | date |
            - if date.slug === current_page.data.collection.current
              .DayItem.DayItem--Current
                <span class="DayDate">#{date.date.strftime("%b %-d")}</span> #{date.title} <span class="DayDescription">#{date.subtitle}</span>
            - else
              = link_to "/photoessays/2017/localhost/#{date.slug}", class: 'DayItem' do
                <span class="DayDate">#{date.date.strftime("%b %-d")}</span> #{date.title} <span class="DayDescription">#{date.subtitle}</span>
