---
  title: Sydney
  slug: '2017/localhost/june-08'
  subtitle: Day 3, June 8
  body_classes: page-photoessays
  meta_description: Day 3, June 8
  collection:
    current: june-08
    next: june-09
    prev: june-07
  meta_keywords:
  ogp:
    og:
      title: Localhost Sydney
      description: Day 3, June 8
      image:
        '': http://brett.cool/images/photoessays/2017/localhost/june-08/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Localhost Sydney
      description: Day 3, June 8
      image:
        '': http://brett.cool/images/photoessays/2017/localhost/june-08/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/2017/localhost/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: ''})

.Page

  .Content#story
    .Row
      .Content_Main.Content_Article
        :markdown
          I awoke early and headed to the gym, along with Ryan. After the gym, I packed, and checked out of my&nbsp;room.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080205'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Glen had subtly suggested we check out Sir Charles in Fitzroy. I was keen for this, as were the other speakers, so with some time up our sleeve, we headed in an Uber to Fitzroy, decidin to drop by Everyday Coffee first for some takeaway filter.

    = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, title: 'Everyday Coffee', address:'33 Johnston St, Melbourne VIC 3066', image: 'everyday', price: '$', menu: 'Coffee', rating: 5, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Piping hot filter in hand, we headed through Fitzroy towards Sir Charles, stopping here and there to photograph the very photogenic street.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080217'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Soon, we met Glen at Sir Charles.

    = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, title: 'Sir Charles', address:'121 Johnston St, Fitzroy VIC 3065', image: 'P6080220', price: '$$', menu: 'Coffee & Brunch', rating: 5, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          The place had a lovely fitout and I couldn’t help taking a few photos, feeling very conspicuous of looking like a tourist, especially with all our luggage.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6080223'], 'right': ['P6080220'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We took a look at the menu, but Glen had sold us all on the Sir Charles Eggs Benedict — with Sriracha Hollendaise and Roti in place of bread.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6080226'], 'right': ['P6080227'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a speedy but delicious breakfast, we departed for the airport via an Uber XL.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6080229'], 'right': ['P6080231'] })

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080235'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We arrived at the airport, Corey, Patima, DT, and Teegan arriving not far behind us.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080236'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After clearing security, we boarded the plane via the back, on the tarmac.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'Like true rockstars 💯', 'photo': 'P6080254'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After a short delay, we took off into the clouds.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6080291'], 'right': ['P6080297'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Above the clouds it was bright and sunny. It was hard to believe it could be dark and stormy in Sydney beneath us.

          During the flight, Patima distributed the feedback cards she’d collected from attendees at the Perth and Melbourne legs of the Deployment tour so far.

          The feedback was very encouraging, and the speakers all delighted in reading the feedback.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P6080271'] }, { count: 2, caption: '', photos: ['P6080274','P6080275'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          As we started to descend through the clouds, the condensation running along the window seemed to confirm the weather situation.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Condensation as we begun our descent', 'photo': 'P6080304'})

    .Row
      .Content_Main.Content_Article
        :markdown
          As we begun to make our descent, I was treated to a spectacular view of the Sydney CBD, the Harbour Bridge, and the Opera House.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080342'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We landed at the airport, where it looked decidedly greyer and stormier than during our initial descent.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080360'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Technical difficulties has been a little bit of a theme of Localhost Deployment, and today was no exception.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080372'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Lightning in the area had meant the evacuation of aiport staff on the ground, which delayed baggage by 30 minutes.

          We stood around, chatting to pass the time.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080386'})

    .Row
      .Content_Main.Content_Article
        :markdown
          In what felt like no time at all, the luggage started to arrive on the conveyor belts. Except for Glen’s, whose luggage was going to be forwarded straight on to Brisbane, a bit like the organiser’s, the day before.

          Thankfully we were able to retreive the luggage before it was forwarded, and set off to pick up a cab.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080392'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We managed to score a Maxi Taxi from the cab rank, which fit myself, Glen, Anna, and the Localhost crew.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080404'})

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6080407','P6080416','P6080420'], 'right': ['P6080409','P6080423','P6080412'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          One rockstar–esque trip later, we arrived in the Sydney CBD and made our way to our hotel.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080434'})

    = partial("photoessays/components/place_accomodation", locals: { title: 'Pensione Hotel', image: 'P6080441', slug: current_page.data.slug, address: '631-635 George St, NSW 2000', checkin: 'Jun 8', checkout: 'Jun 9', rating: 3})

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'DT, Teegan, Patima, Corey, Ryan, and Anna checking in.', 'photo': 'P6080449'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We checked in, and dropped bags.

          Before we knew it, as had become increasingly familiar, it was time to head off to the venue.

          This time, the venue was a convenient 10 minute walk from our accomodation.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6080468'], 'right': ['P6080471'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          A short walk through rainy Sydney later, we arrived.

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: 'P6080485', title: 'Campaign Monitor', address: '38/201 Elizabeth St, NSW 2000', place: 'Office', link: '', rating: ''})

    .Row
      .Content_Main.Content_Article
        :markdown
          Campaign Monitor’s office was a beautiful location, and much excitment from the speakers about the beautiful projector, which displayed with a clarity and contrast we were totally unprepared for!

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6080490'], 'right': ['P6080494'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Feeling a bit more relaxed and experienced, the organisers and speakers alike seemed more at home, as we met up with Georgie and other staff from Campaign Monitor.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Simon, DT, Glen, and&nbsp;Corey', 'photo': 'P6080482'})

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'The view from Level 38 was&nbsp;spectacular.', 'photo': 'P6080498'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Soon enough, the community started to filter in.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'The room really made it feel like a big crowd.', 'photo': 'P6080503'})

    .Row
      .Content_Main.Content_Article
        :markdown
          And before I knew it, Patima was up to introduce me!

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'brett-syd'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I launched into my talk for the third time — this time adding a little preface referring to an in–joke the speakers and I had about my ironing on tour, observing the humour in attempting to use the mini ironing board in my Sydney hotel room.

          No technical issues appeared, thankfully. However, it was a little hard for me to get a read on the audience, and I started to speed up, feeling a little uncomfortable. This was definitely a mistake, as the feedback I got afterwards was highly positive, just that I needed to slow down!

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'banner'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Next up, Glen took us through the Road to Unification. Glen was largely comfortable with the changes to his talk made at Melbourne, and didn’t change his slides, but made small tweaks the delivery of his talk.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080514'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After a short break, Anna was up to take us through Decisions Considered Harmful for Product Love.

          The audience loved this talk too, and I noticed a few small changes to her slides and delivery which further refined an already excellent talk!

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080523'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Lastly, Simon, presenting to his experience in applying web skills to solve print problems.

          Adding a new section walking us through the process of marking up a coffee label, to styling it for print using the @page media query, Simon delivered another outstanding talk which rounded out the evening nicely.

          ---

          After the talks, it was time for the after party! As we had to be out of the venue at 9:00pm sharp, we headed straight for a nearby bar.

    = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, title: 'Ramblin’ Rascal Tavern', address:'199 Elizabeth St, Sydney NSW 6000', image: 'P6080541', price: '$$', menu: 'Bar', rating: 5, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          In a dimly lit venue we drank and chatted, and set about ordering burgers from Mary’s nearby.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080538'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We also had an opportunity, thanks to Simeon, to get our official speaker lineup photo of the tour.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080553'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After a little while, Anna, Simon, Simeon and I decided to head on, intending to join up later with the group at the agreed rendezvous point of Frankie’s Pizza.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6080557'})

    .Row
      .Content_Main.Content_Article
        :markdown
          It was a very picturesque evening and we took the time to look at some installations at Vivid Sydney, including an animated projection of a frog.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P6080590'] }, { count: 2, caption: '', photos: ['P6080600','P6080605'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          Eventually we made it to Simon’s recommendation.

    = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, title: 'Hubert Bar', address:'', image: 'P6080650', price: '$$$', menu: 'Wine Bar', rating: 5, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          A french wine bar, apparently owned by Frankie’s, but very different in vibe, it was a very different vibe.

          Simon, Anna, Simeon and I took a seat and ordered some drinks. Anna and Simeon ordered Wine, Simon ordered a gin.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6080647'], 'right': ['P6080652'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a relaxed drink, we headed around the corner to a very different vibe, at Frankie’s.

    = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, title: 'Frankie’s Pizza', address:'50 Hunter St, Sydney NSW 6000', image: '', price: '$', menu: 'Pizza Bar', rating: 4, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Loud music blaring, we entered and met up with the Localhost crew and other partying Sydneysiders.

          After a short time, I decided to head off, in order to be as well-rested for the last leg of our tour...


  = partial("photoessays/2017/localhost/footer", locals: {collection: current_page.data.collection})
