---
  title: Melbourne
  slug: '2017/localhost/june-07'
  subtitle: Day 2, June 7
  body_classes: page-photoessays
  meta_description: Day 2, June 7
  collection:
    current: june-07
    next: june-08
    prev: june-06
  meta_keywords:
---

- @og_image_override = 'photoessays/2017/localhost/june-07'

= partial("photoessays/2017/localhost/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: ''})

.Page

  .Content#story
    .Row
      .Content_Main.Content_Article
        :markdown
          I awoke around 5:30am and set about finishing&nbsp;packing.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Sorted!', 'photo': 'P6070043'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Bags in tow, I headed for the airport.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6070045'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I met the other Localhost organisers, our photographer Ryan, and fellow speakers at Perth T1.

          We headed through security, and made our way to the gate, after a quick pit stop for airport coffee.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'Corey, Ryan, Patima, Simon, Teegan and DT.', 'photo': 'P6070053'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Once we all arrived, we boarded the plane.

    = partial("photoessays/components/flight", locals: {slug: current_page.data.slug, image: 'P6070074', title: 'VA678', gate: '49', seat: '36A', airline: 'Virgin Australia', depart: '7:35am', arrive: '12:30pm', rating: '' })

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6070057'], 'right': ['P6070060'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Before long, we ascended into the early morning sunrise, some low hanging fog providing some lovely landscape photo ops.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6070074'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Onboard the flight, I began importing my camera photos, and made some very important updates to my Keynote deck.

    .PhotoRow.Component
      .PhotoCaption.PhotoCaption_left Nailed it.
      .Photo_right= image_tag "photoessays/#{current_page.data.slug}/updates.gif"

    .Row
      .Content_Main.Content_Article
        :markdown
          Once the photos were imported, I set about using the time I had to begin writing the first two days of the Deployment photoessay.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'Plane Hax ✨', 'photo': 'P6070079'})

    .Row
      .Content_Main.Content_Article
        :markdown
          The flight passed rather quickly, and soon enough, we landed in Melbourne.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6070086','P6070092'], 'right': ['P6070089', 'P6070095'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We landed and headed for baggage claim.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6070108'})

    .Row
      .Content_Main.Content_Article
        :markdown
          At baggage claim, we encountered an unexpected complication with the checked baggage.

          It appears that Virgin assumed with our flights to Brisbane in such relatively quick succession that they should just forward our luggage on to Brisbane. _Nobody would be crazy enough_ to fly to four places in four days, _right?_

          After a bit of a delay we decided to split up. The organisers stayed back to retrieve their luggage, while Anna, Simon, Ryan and I headed for the Cab&nbsp;rank.

          Soon, we were en route to Melbourne CBD.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6070125'], 'right': ['P6070128'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We arrived in the mid afternoon at our hotel.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6070131'], 'right': ['P6070132'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We checked in and dropped bags.

    = partial("photoessays/components/place_accomodation", locals: { title: 'Causeway 353', image: '353', slug: current_page.data.slug, address: '353 Little Collins st, VIC 3000', checkin: 'Jun 7', checkout: 'Jun 8', rating: 5})

    .Row
      .Content_Main.Content_Article
        :markdown
          Then ventured out for a late lunch.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6070136'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Wandering through picturesque alleys in the CBD, we followed Simon to a favourite of his, Sun Moth.

          It was down a rather picturesque alley.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6070145'], 'right': ['P6070147'] })

    = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, title: 'Sun Moth', address:'', image: 'P6070147', price: '$$', menu: 'Coffee', rating: 5, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          We settled in, grabbed a coffee, and some lunch.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6070148'], 'right': ['P6070149'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The hours between getting from the airport to the hotel seemed to have made the afternoon just melt away.

          Before we knew it, we needed to head back to the hotel to prepare for out next talk.

          Anna, Ryan and I headed back to the hotel while Simon continued to hack on his slides.

          In what felt like next to no time at all, it was time to go, so we hopped in an Uber and made our way to the venue in Richmond.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6070160'})

    .Row
      .Content_Main.Content_Article
        :markdown
          With a power soundtrack including _Wind Beneath My Wings_, courtesy of Smooth FM, we arrived at 99 Designs offices.

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '99designs', title: '99 Designs Office', address: '41-43 Stewart Street, VIC', place: 'Office', link: '', rating: ''})

    .Row
      .Content_Main.Content_Article
        :markdown
          Sunset approached as we entered the second floor.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P6070161'})

    .Row
      .Content_Main.Content_Article
        :markdown
          The organisers set about organising the AV and seating, while the speakers stood around, making last minute changes to our slides or quietly mulling over our talks.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Simon tweaking his&nbsp;slides', 'photo': 'P6070166'})

    .Row
      .Content_Main.Content_Article
        :markdown
          In a familiar blur, the event was on before I knew it.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'brett-mel'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I launched into the talk, inviting people from Melbourne to send me recommendations on Twitter—which I was delighted to see they did with gusto!

          Thankfully the technical issues that plagued my talk on the Monday night were all but absent, and I was able to run through my talk without issue. This was a huge relief, and the feedback I received was really encouraging.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'glen-mel'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Next up, Glen took to the stage to give his talk.

          After listening to his talk from the previous night, he decided to modify the content — it was interesting to see the changes he made since the night before, and despite the last minute changes, he pulled it off with the air of a well rehearsed, seasoned speaker.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Dr Anna Harrison — “Decisions Considered Harmful”', 'photo': 'P6070178'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After a short break, Anna was up to take us through decisions considered harmful.

          It was another well paced, polished performance, Anna took us through the process with a relaxed air. I noticed some subtle changes to the wording and a few slides dropped from Anna’s, it flowed really well and received a very positive response from the audience.

          This time a slight clicker issue occured during Anna’s talk — thankfully it was resolved by a quick switch out of batteries and was smooth from there.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Simon Wright on “I–Have–No–Idea–What–I’m–Doing–Oh–Wait–Maybe–I–Do”.', 'photo': 'P6070182'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Finally, Simon took to the stage to run through the familiar experience of going from feeling like you don’t know what you’re doing to maybe kinda sorta knowing what you’re doing, in this case, applying web skills to a print context.

          Simon played it safe and used his keyboard to advance slides, so as not to tempt the clicker gods. Again, Simon made a few changes to the wording and slides as well, and again, very well received by the Melbourne audience!

          After a very successful night, Patima closed out the event, thanking Michael of MelbCSS and AWIA for making the night possible.

          We stuck around, and chatted with the very friendly Melbourne folk. I spoke to a number of designers and developers who really resonated with my talk, and got to catch up with Tim of Buildkite.

          After that, it was on to the after party.

    = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, title: 'Corner Hotel', address:'57 Swan St, Richmond VIC 3121', image: 'corner', price: '$$', menu: 'Pub', rating: 4, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          At the after party the friendly chats continued, and we stayed for many drinks, catch ups, and sharing of stories.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P6070195'], 'right': ['P6070196'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After heading back to the hotel, I joined the Localhost crew for a midnight hack session, importing my photos and working on my photoessay, before finally turning in for the night.

  = partial("photoessays/2017/localhost/footer", locals: {collection: current_page.data.collection})
