---
  title: Meiji Shrine
  slug: '2017/tokyo/jan-08'
  subtitle: Harajuku, specialty coffee, and rabbit cafés
  body_classes: page-photoessays
  meta_description: Harajuku, specialty coffee, and rabbit cafés
  collection:
    current: jan-08
    next: jan-09
    prev: jan-07
  meta_keywords:
  ogp:
    og:
      title: Meiji Shrine
      description: Harajuku, specialty coffee, and rabbit cafés
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/jan-08/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Meiji Shrine
      description: Harajuku, specialty coffee, and rabbit cafés
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/jan-08/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/2017/tokyo/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Content#story
  .Content_row
    .Content_main
      .Article_content
        :markdown
          Next morning, I awoke to discover some curious kids shows on Japanese TV.

          I set off, heading north. Along the way, I took a detour via NHK studios so I could meet Domo-kun.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1080474'], 'right': ['P1080477'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          A short walk later, I arrived at Meiji shrine, just across from Harajuku station.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1080495','P1080506','P1080517'], 'right': ['P1080498','P1080511','P1080535'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Walking down the path, I soon reached the main&nbsp;shrine.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1080545'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Though I’m not particularly spiritual, I felt a sense of the significance this place held for locals, particularly as I entered the main shrine and watched people pay tribute.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1080571'], 'right': ['P1080498'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I looped around the shrine and exited, eastwards over Harajuku station towards more built up shops.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1080619','P1080620'], 'right': ['P1080616','P1080626'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          It appears shops don’t open on Sunday before 10, so I headed through Harajuku and some very charming, winding paths, towards a coffee shop that had been on my to-do list...

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1080639'], 'right': ['P1080641'] })

  = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, image: 'P1080650', title: 'The Roastery by Nozy Coffee', address: '神宮前5-17-13 (ダイイチHOKI神宮前ビル 1F), Shibuya, Tōkyō', price: '¥', menu: 'Coffee', rating: 5, link: 'https://foursquare.com/v/the-roastery-by-nozy-coffee/524944ff498e85d3b5ee5775' })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          One excellent coffee later, I headed for a rabbit café...

  = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, image: 'P1080662', title: 'Ra.a.g.f Rabbit Café', address: '神宮前6-14-15 (メゾン原宿 3F) Shibuya, Tōkyō', price: '¥', menu: 'Pet Cafe', rating: 3, link: 'https://foursquare.com/v/%E3%81%86%E3%81%95%E3%81%8E%E3%81%A8%E9%81%8A%E3%81%B9%E3%82%8B%E5%B0%82%E9%96%80%E5%BA%97-raagf-%E3%83%A9%E3%83%95-%E5%8E%9F%E5%AE%BF%E5%BA%97/4e3515ee2271b2cf06742eca' })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I headed up to the third floor of a rather unassuming building. A recurring theme in Tokyo.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1080706'], 'right': ['P1080730'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          The place was very cosy. The kind staff helped pick out a rabbit, and helped entertain them so that people could get photos.

          Once my time was up, I headed back towards the Tokyu Plaza I had passed earlier, and had a quick look around. The crazy mirror entrance was definitely an effective way to draw people in from the streets.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1080750'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Once I’d had a quick look around, I headed north, parallel with Harajuku station.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1080762'], 'right': ['P1080771'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Opposite the station, I caught my first glimpse of Takeshita street, a bustling thoroughfair of variety stores, cafés, chains and... crêpes?

  = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1080776'] }, { count: 2, caption: '', photos: ['P1080791','P1080794'] } ] } )

  .Content_row
    .Content_main
      .Article_content
        :markdown
          The place was packed and definitely gave me a sense of claustraphobia. It seemed so busy for an everyday Sunday afternoon.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1080801','P1080805'], 'right': ['P1080804','P1080807'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          After reaching the end of the strip, I began to wind my way back to the hotel, picking up some food from a 7 Eleven nearby.

          ---

          Later, I emerged from my hotel into a cool, rainy&nbsp;evening.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1080822'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Tokyo nightlife is nice, but seeing it in the rain felt so magical.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1080826','P1080858'], 'right': ['P1080851','P1080873'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Eventually, after traipsing through Shibuya to find the bar I was heading for was closed, I went in search of dinner.

  = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'nabezo', title: 'Nabezo Shibuya', address: '宇田川町31-2 (渋谷BEAM 6F), Shibuya, Tōkyō', price: '¥¥', menu: 'Sukiyaki/Shabu Shabu', rating: 5, time: '6:45pm', link: 'https://foursquare.com/v/%E9%8D%8B%E3%81%9E%E3%81%86-%E6%B8%8B%E8%B0%B7%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC%E8%A1%97%E5%BA%97/4b52a12df964a520618427e3' })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Nabezo is a chain of Shabu Shabu restaurants, providing all-you-can-eat hotpot buffets.

          They have a bar full of salads, vegetables, udon and soba noodles, and other goods, and supply you with thin sliced meats you can cook in a broth.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Starting off the shabu shabu broth with some Udon noodles.', 'photo': 'P1080887'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          This was a slightly-challenging (mainly because of my inability to use serving chop sticks effectively) but very enjoyable meal. And the ice cream bar for dessert was a great way to end the meal.

          After dinner, I wandered back towards the hotel, stopping in to Tokyu Hands to gawk at all the amazing products available.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1080895'})
= partial("photoessays/2017/tokyo/footer", locals: {collection: current_page.data.collection})
