---
  title: Ikebukuro
  slug: '2017/tokyo/jan-10'
  subtitle: and Owl Cafés
  body_classes: page-photoessays
  meta_description: and Owl Cafés
  collection:
    current: jan-10
    next: jan-11
    prev: jan-09
  meta_keywords:
  ogp:
    og:
      title: Ikebukuro
      description: and Owl Cafés
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/jan-10/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Ikebukuro
      description: and Owl Cafés
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/jan-10/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/2017/tokyo/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Content#story

  .Content_row
    .Content_main
      .Article_content
        :markdown
          The next morning, I headed for the JR Shibuya station and boarded a train bound for Ikebukuro.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1101294'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          A short train ride later, I arrived, and exited through the west exit.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1101300'], 'right': ['P1101304'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I continued to walk north from the station, curving around to the east and reaching an overpass in front of the train lines.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1101319'], 'right': ['P1101338'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Again, the scale of infrastructure — from the size of intersections to the verticality of multi-level roads — continues to leave me in awe.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1101354'], 'right': ['P1101362'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Eventually, I arrived at one of the main strips in Ikebukuro, replete with a Tokyu Hands.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Perhaps it was the presence of a Sega arcade, but it felt really similar to Akihabara.', 'photo': 'P1101376'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I popped in to Doutor for a brief pit stop.

  = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, image: 'doutor', title: 'Doutor East Ikebukuro', address: '東池袋1－13－6, 池袋ロクマルビル2F, Toshima', price: '¥', menu: 'Coffee', rating: 2, link: 'https://www.yelp.com/biz/%E3%83%89%E3%83%88%E3%83%BC%E3%83%AB%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%83%E3%83%97-%E8%B1%8A%E5%B3%B6%E5%8C%BA-3' })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Afterwards, I checked out the area for a while — much of the time scaling the impressively stocked Tokyu Hands.

          Soon though, my appointment with the Owl café was looming. After a transfer in Shinjuku to get to Harajuku, I arrived.

  = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, image: 'P1101451', title: 'Owl Cafe & Bar Owl Village', address: '1-21-15 Jingumae Harajuku, Tōkyō', price: '¥', menu: 'Owl Café', rating: 4, link: 'https://www.tripadvisor.com.au/Attraction_Review-g1066456-d8766373-Reviews-Owl_Cafe_Bar_Owl_Village_Harajuku-Shibuya_Tokyo_Tokyo_Prefecture_Kanto.html' })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          The café — as seemed standard for animal cafés — was split into the food and drink area, and the animal area. After a quick drink, the group made its way into the owl enclosure.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1101406','P1101425'], 'right': ['P1101412','P1101428'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          The handlers introduced us to each of the birds in&nbsp;turn.

          In total there were about eight of them, ranging from a large 2kg owl called Bob to tiny little balls of fluff.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1101432','P1101451'], 'right': ['P1101449','P1101455'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Once my time was up, I headed back down Takeshita street, which was considerably quieter.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1101462'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          After a quick sandwich from Starbucks, it was time to head back to the hotel.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1101477'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Later that night, I ventured out to Goodbeer Facuets — a craft place in downtown Shibuya.

  = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, image: 'P1101481', title: 'Goodbeer Faucets', address: '松濤1-29-1 (クロスロードビル 2F), Shibuya, Tōkyō', price: '¥¥', menu: 'Craft Beer', rating: 5, link: '' })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          A few drinks later, it was starting to approach dinner time.

          Wandering through Tokyo, I made a beeline for a highly recommended Soba place.

  = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'sagatani', title: 'Sobahiyamugi Sagatani', address: '道玄坂2-25-7 (プラザ道玄坂ビル 1F) Shibuya, Tōkyō', price: '¥', menu: 'Soba', rating: 4, time: '9:57pm', link: 'https://foursquare.com/v/%E5%B5%AF%E5%B3%A8%E8%B0%B7-%E6%B8%8B%E8%B0%B7%E5%BA%97/4eda49a577c8274efcfa3a7a' })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Like so many gems in Japan, Sagatani was very unassuming from the outside. Inside, it was cozy, with many local patrons dining.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'One delicious bowl of buckwheat soba noodles.', 'photo': 'P1101488'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Full of Soba, it was time to head back to the hotel for the night.

= partial("photoessays/2017/tokyo/footer", locals: {collection: current_page.data.collection})
