---
  title: Yuzawa Snow
  slug: '2017/tokyo/jan-14'
  subtitle: Shinkansens and snow
  body_classes: page-photoessays
  meta_description: Shinkansens and snow
  collection:
    current: jan-14
    next: jan-15
    prev: jan-13
  meta_keywords:
  ogp:
    og:
      title: Yuzawa Snow
      description: Shinkansens and snow
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/jan-14/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Yuzawa Snow
      description: Shinkansens and snow
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/jan-14/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/2017/tokyo/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Page
  .Content#story

    .Row
      .Content_Main.Content_Article
        :markdown
          The next morning, I headed to Gontran Cherrier for breakfast, before heading for snow.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'P1142555', title: 'Gontran Cherrier', address: '渋谷1-14-11 (BCサロン 1F-2F) Shibuya, Tōkyō', price: '¥¥', menu: 'Bakery', rating: 5, time: '9:44am', link: 'https://foursquare.com/v/%E3%82%B4%E3%83%B3%E3%83%88%E3%83%A9%E3%83%B3-%E3%82%B7%E3%82%A7%E3%83%AA%E3%82%A8-%E6%9D%B1%E4%BA%AC-gontran-cherrier-tokyo-%E6%B8%8B%E8%B0%B7%E5%BA%97/501b3957e4b002c187cdcc16' })

    .Row
      .Content_Main.Content_Article
        :markdown
          The pastries were delicate and very delicious.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'I couldn’t pass up getting an almond croissant.', 'photo': 'P1142538'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After breakfast, and a quick stop off at a convenience store for supplies, I headed for the JR station, to take a shinkansen north towards Yuzawa.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1142573'], 'right': ['P1142566'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Before long, it was time to depart.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142562'})

    .Row
      .Content_Main.Content_Article
        :markdown
          The shinkansen accelerated smoothly out of the station, and as we pulled out of Tokyo it began to pick up speed.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142597'})

    .Row
      .Content_Main.Content_Article
        :markdown
          The landscape quickly changed before my eyes

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1142604','P1142613'], 'right': ['P1142608','P1142633'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The shinkansen was heading for the rolling hills, getting closer all the time. And with it, the stormy looking clouds overhead.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1142647','P1142678'], 'right': ['P1142670','P1142684'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          And then, quite suddenly, the shinkansen entered a tunnel in one of the mountains...

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142702'})

    .Row
      .Content_Main.Content_Article
        :markdown
          And emerged on the other side into...

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142707'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Snow. A lot of snow.

          I exited the platform and headed through Yuzawa&nbsp;station.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142711'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Thankfully, the station itself had a lot of cafés, shops and attractions. Considering how heavy the snow was falling, this was a nice fallback to have.

          After taking a moment to get my bearings, I headed out of the station and into snow, for the first time in my life.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142715'})

    .Row
      .Content_Main.Content_Article
        :markdown
          It was falling heavily. There’s something gentle about the way snow falls which seems so innocuous. This is at complete odds with the havoc it wreaks, as I soon learned to appreciate.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142719'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I headed down the snowy street, in search of a highly rated lunch place.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1142721'], 'right': ['P1142722'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Slipping and sliding, I realised how inadequate my boots were for this weather. Every footstep had to be measured and taken deliberately, and with no side walk, I was sharing some of the road that cars were slipping and sliding on.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1142724','P1142755'], 'right': ['P1142750','P1142762'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The restaurant in question was not that far from the station, and yet, with having to walk carefully, stop to navigate cars, and avoid the slush their tyres kicked up as they drove past, it seemed to take forever...

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142778'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Finally, I arrived, spending a good five minutes outside the restaurant getting snow off myself and my bag.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'lunch', title: '人参亭', address: '湯沢497-4 Yuzawa-machi, Niigata', price: '¥¥', menu: 'Japanese', rating: 5, time: '1:44pm', link: 'https://foursquare.com/v/%E4%BA%BA%E5%8F%82%E4%BA%AD/4bb1e39af964a520c7a83ce3' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Inside was pleasant and warm, a nice refrain from the snowy conditions outside.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142780'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I opted for a warming Katsu set.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142784'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Before long, it was time to turn around and face the freezing temperatures again.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1142788','P1142792'], 'right': ['P1142789','P1142800'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          It didn’t take too long to have my fill of snow for the day, before feeling content to head off.

          It was an amazing experience, but I had a newfound appreciation for some of the practicalities of snow, that my romanticied notion of it from the media hadn’t conveyed.

          Soon, I was speeding along on a shinkansen back to&nbsp;Tokyo.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1142802'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Some time later, I headed out for a bar near my hotel.

    = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, image: 'apu', title: 'and people udagawa', address: '宇田川町10-2 (新東京ビル 4F) Shibuya, Tōkyō', price: '¥', menu: 'Bar', rating: 4, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          A warming cocktail and some pizza later, and it was time to turn in for the night.

  = partial("photoessays/2017/tokyo/footer", locals: {collection: current_page.data.collection})
