---
  title: Shinjuku Views
  slug: '2017/tokyo/jan-09'
  subtitle: and Akihabara nightlife
  body_classes: page-photoessays
  meta_description: and Akihabara nightlife
  collection:
    current: jan-09
    next: jan-10
    prev: jan-08
  meta_keywords:
  ogp:
    og:
      title: Shinjuku Views
      description: and Akihabara nightlife
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/jan-09/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Shinjuku Views
      description: and Akihabara nightlife
      image:
        '': http://brett.cool/images/photoessays/2017/tokyo/jan-09/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/2017/tokyo/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Page
  .Content#story

    .Row
      .Content_Main.Content_Article
        :markdown
          The next morning I headed north from my hotel, and dropped in to a 7 Eleven to pick up a coffee decorated with cute cats.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'It wasn’t single origin, that’s for sure.', 'photo': 'P1090926'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I continued north toward Yoyogi Park.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1090936'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Yoyogi was a vast park. I traced the outline around to the left edge. Being mid winter, it was a little too early for the Cherry Blossom, but I could see how beautiful it would look a few months from now.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1090941'], 'right': ['P1090943'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          I continued my north-west trajectory, making a stop by to see if Little Nap Coffee stand was open — sadly, it wasn’t.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Taking a little nap, I&nbsp;guess.', 'photo': 'P1090944'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I continued walking from Yoyogi north, eventually making my way to Shinjuku.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1090948','P1090958','P1090976'], 'right': ['P1090951','P1090966','P1090971'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Suddenly, I noticed the scale of buildings change as I reached Shinjuku proper.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 2, caption: '', photos: ['P1090982','P1090983'] }, { count: 1, caption: '', photos: ['P1090985'] }, { count: 2, caption: '', photos: ['P1090987', 'P1090993'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          I had arrived at Shinjuku station.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1090996'], 'right': ['P1091003'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          I wandered through the complex, and down the side of the station, where I found a place that made up for Little Nap Coffee stand being closed.

    = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, image: 'P1091024', title: 'Blue Bottle Coffee Shinjuku', address: '新宿4-1-6 (NEWoMan 1F), Shinjuku, Tōkyō', price: '¥', menu: 'Coffee', rating: 5, link: 'https://foursquare.com/v/blue-bottle-coffee-%E6%96%B0%E5%AE%BF%E3%82%AB%E3%83%95%E3%82%A7/56f3da60498ed026ee3235ef' })

    .Row
      .Content_Main.Content_Article
        :markdown
          I’d heard that this Blue Bottle can get ridiculously busy, so I felt quite lucky to be able to grab a takeaway filter without much hassle.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'This filter station tho. 👌', 'photo': 'P1091018'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Coffee in tow, I made my way for the Metropolitan Government Building.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'a e s t h e t i c symmetry', 'photo': 'P1091052'})

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1091058'], 'right': ['P1091070'] })

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: 'mgb', title: 'Tokyo Metropolitan Government Building', address: '西新宿2-8-1m Shinjuku, Tōkyō', place: 'Sightseeing', rating: 5, link: 'https://foursquare.com/v/%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%BA%81-tokyo-metropolitan-government-office/4b525412f964a520807727e3' })

    .Row
      .Content_Main.Content_Article
        :markdown
          I visited the South and North towers in turn.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1091080','P1091096'], 'right': ['P1091092','P1091098'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After having my fill of photography and novel souvenir shopping, I left the government buildings.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1091132'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After spending some time trying to decide where to go (I was somewhat curious to try a Japanese Sizzler  branch nearby), I ended up finding a Hamburger BBQ place in Shinjuku.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'bonburi', title: '溶岩焼ダイニング bonbori 新宿店', address: '西新宿1-14-16 (114ビル 2階), Shinjuku, Tōkyō', price: '¥¥', menu: 'Hamburger BBQ', rating: 4, time: '6:45pm', link: 'https://foursquare.com/v/%E6%BA%B6%E5%B2%A9%E7%84%BC%E3%83%80%E3%82%A4%E3%83%8B%E3%83%B3%E3%82%B0-bonbori--%E6%96%B0%E5%AE%BF%E5%BA%97/4c2c93218ef52d7f301333ba' })

    .Row
      .Content_Main.Content_Article
        :markdown
          This BBQ place served up cheese burger patties on hot plates with a side of rice.

          I placed my order on a vending machine, and exchanged it again for my deconstructed burger.

          After the rather filling lunch, I headed back towards Shibuya via the JR line to Harajuku.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1091151'})

    .Row
      .Content_Main.Content_Article
        :markdown
          In Harajuku, I again headed down Takeshita street — which was far less crowded early Monday afternoon — and visited a local Owl café.

          Unfortunately they were fully booked, so I made a reservation for the next day.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 2, caption: 'Soon™', photos: ['P1091153','P1091154'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          I walked back from Harajuku towards the hotel, back through some market stalls, where I spotted a rather photogenic french bulldog sitting in a pram.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1091158'], 'right': ['P1091160'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          That evening, I emerged from my hotel, made my way to the Shibuya station, and boarded a train to visit Akihabara.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1091181'], 'right': ['P1091186'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          I alighted from the train as sunset approached.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1091189'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Akihabara at night hits you right in the face with its sights and sounds.

          A truly visceral, visual sensory overload.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1091199','P1091241','P1091221'], 'right': ['P1091209','P1091242','P1091230'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After wandering around many a lit up street, I headed for Yodobashi-Akiba, a truly enormous department store for videogames, and technology of all sorts. Including an incredible range of cameras.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'It was all I could do not to impulse-buy the successor to my mirrorless camera...', 'photo': 'P1091249'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After determining I’d spend my travel allowance on drinks and food rather than new cameras, I headed for a nearby bar.

    = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, image: 'P1091256', title: 'Beef Kitchen Stand', address: '神田佐久間町2-13-20 (アパホテル 1F), Chiyoda, Tōkyō', price: '¥¥', menu: 'Bar', rating: 4, link: '' })

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'One hot sake.', 'photo': 'P1091254'})

    .Row
      .Content_Main.Content_Article
        :markdown
          One hot sake later, and failing to drunkenly find a highly rated Soba place, I ended up at a Go-Curry Katsu curry chabin.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'P1091258', title: 'Go Go Curry', address: '神田佐久間町1-16-1 (大橋ビル 1F), Chiyoda, Tōkyō', price: '¥¥', menu: 'Katsu Curry', rating: 4, time: '6:59pm', link: 'https://foursquare.com/v/%E3%82%B4%E3%83%BC%E3%82%B4%E3%83%BC%E3%82%AB%E3%83%AC%E3%83%BC-%E7%A7%8B%E8%91%89%E5%8E%9F1%E5%8F%B7%E5%BA%97/4b5c03eef964a520442129e3' })

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Katsu curry is always delicious', 'photo': 'P1091258'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Full of Katsu curry, I wandered around Akihabara exploring the streets and arcades.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1091262'], 'right': ['P1091266'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Some time later — after somehow finding room for dessert — I caught a train back to Shibuya, and turned in for the night.

  = partial("photoessays/2017/tokyo/footer", locals: {collection: current_page.data.collection})
