---
  title: New York
  slug: '2013/new-york'
  subtitle: Getting lost in the Big Apple
  body_classes: page-photoessays
  meta_description: Getting lost in the Big Apple
  meta_keywords:
  trip:
    location: america
    weather: cloud
    arrival: bus
    departure: plane
    dates:
      from: 2013-8-11
      to: 2013-8-16
  days:
    august-11:
      date: 2018-08-11
      title: Arriving
      description: in New York
    august-12:
      date: 2018-08-12
      title: Brooklyn Bridge
      description: and West Manhattan
    august-13:
      date: 2018-08-13
      title: Time Square
      description: and Central Park
    august-14:
      date: 2018-08-14
      title: Night Vibes
      description: Times Square – Part 2
    august-15:
      date: 2018-08-15
      title: Lombardi’s Pizza
      description: a fitting last New York meal
    august-16:
      date: 2018-08-16
      title: A long trip home
      description: JFK✈SFO✈AKL✈MEL✈PER
---

- @og_image_override = 'photoessays/2013/new-york'

= partial("photoessays/2013/day_navigation", locals: { days: current_page.data.days } )
= partial("/photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Page
  .Content#story#august11
    .Row
      .Content_Main.Content_Article
        :markdown
          Our Greyhound coach continued Northwest along route 95 through Philadelphia, towards New York.

          Early afternoon, our bus entered West New York in New Jersey, as we continued towards the depot.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['11/DSC04192','11/DSC04201'], right: ['11/DSC04197','11/DSC04205'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          As we drove, the buildings grew denser, and we found ourselves approaching Manhattan, New York City.

          Our surroundings started to look increasingly like the New York City I’d seen portrayed in popular culture.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['11/DSC04211'], right: ['11/DSC04208','11/DSC04216'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We reached the Greyhound terminal, and connected to the underground station. Having had no opportunity for lunch, we grabbed some food from a deli attached to the underground.

          We got our bearings, and then got on to a train to take us from downtown Manhattan to Williamsburg.
          
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['11/IMG_4070','11/IMG_4075'], right: ['11/IMG_4069','11/IMG_4073'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          As we arrived in Williamsburg, I was immediately struck by how well Rockstar had captured the vibe in GTA IV. (Is that weird that was my first&nbsp;thought?)

          We headed from the above ground station platform to our hotel, which was gratefully nearby.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['11/IMG_4083'], right: ['11/IMG_4084'] })      
      
    = partial("photoessays/components/place_accomodation", locals: {slug: current_page.data.slug, image: '11/IMG_4095', title: 'B Hotel & Hostel', address: '341 Broadway, Brooklyn, NY 11211, USA', checkin: current_page.data.trip.dates.from, checkout: current_page.data.trip.dates.to, rating: 4 })

    .Row
      .Content_Main.Content_Article
        :markdown
          The fitout of B Hotel was funky and modern. We had three rooms, each with a bunk bed. The rooms were incredibly small, and the walls did not reach to the ceiling, making for a lot of sound and light leaking.
    
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'A good few inches of clearance', photo: '11/IMG_4087'})

    .Row
      .Content_Main.Content_Article
        :markdown
          It was a bit like I imagine it would be to sleep in an open plan office, with dozens of other people on the same floor.

          We dropped our bags and went for a quick stroll around the area.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['11/IMG_4088'], right: ['11/IMG_4092'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          A short while later, we then returned to B Hotel and explored the common area lounge, which included some handy tourist information.

          We took a break, planning our itinerary for the next day.
    
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Richard and I had slightly different priorities', photo: '11/IMG_4104'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Later that evening, we headed out to find dinner.

          As we walked a few blocks north-west in Williamsburg from our hotel, we found entire blocks of the city grid cordoned off by police — something appeared to have gone down.
    
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '11/IMG_4108'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We diverted a few streets up, and eventually came to a restaurant serving up traditional American comfort food.
          
    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '11/walter', title: 'Walter Foods', address: '253 Grand St, Brooklyn, NY 11211, USA', price: '$$', menu: 'American', rating: 4, link: '' })

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['11/IMG_4110'], right: ['11/IMG_4113','11/IMG_4117'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a very enjoyable dinner, and a quick night-cap at a nearby pub, we turned in for the evening.

    .Row#august-12
      .Content_Main.Content_Article
        :markdown
          ---

          Early the next morning, a few of us headed to the common room to watch the latest episode of Breaking Bad...

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4118'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Later that morning, we set off for the Marcy Av station platform, to take us towards Brooklyn Bridge.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4127'})

  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          The most efficient route involved transiting in to Manhattan on a J train, transferring to a 2 train, and transiting back out of Manhattan, to arrive at Clark street station.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04218'], right: ['12/DSC04219','12/IMG_3079'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          We popped in to a nearby store for some snacks.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/IMG_4134'], right: ['12/IMG_4131','12/IMG_4138'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          As we walked North east toward the Brooklyn Bridge, we happened across the Brooklyn War Memorial.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/DSC04220'})
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4149'})
  
  .Content
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/IMG_4148'], right: ['12/DSC04223'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After taking some time to admire the memorial, we continued our north-east trajectory towards the Brooklyn Bridge.

          Along the way, we passed some stunning architecture.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04227'], right: ['12/DSC04228','12/DSC04231'] })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4154'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_3130'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We drew closer to the bridge, walking down charming residential streets.
          
          It somehow felt like a blend between the cozy density of a residential street in an outer suburb, with the infrastructure and convenience only found in an inner city street in Perth.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/IMG_4164'], right: ['12/IMG_4166'] })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4173'})
    
    
    .Row
      .Content_Main.Content_Article
        :markdown
          We continued east, the Brooklyn Bridge looming against the backdrop of the Manhattan skyline.

          As we crossed over Jay street, we came upon the Brooklyn Bridge.
    
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04247','12/DSC04259'], right: ['12/DSC04260', '12/DSC04264'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We followed the bridge down to the coast.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_3147'})

    .Row
      .Content_Main.Content_Article
        :markdown
           The view of a distant, yet close skyline seemed to swim before us from the other side of the water bank like a mirage.

           It was a surreal view.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04267'], right: ['12/DSC04273'] })
          
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4187'})

  .Content
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_3150'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04279','12/DSC04282'], right: ['12/DSC04277','12/IMG_4196'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We grabbed some ice cream from a nearby vendor.
  
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/DSC04285'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Eating our patriotically-branded ice cream, we admired the view.
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/IMG_3179','12/DSC04291'], right: ['12/IMG_3186','12/DSC04292'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          It was time to walk that ice cream off, and there was handily a nearby bridge to do just that.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/DSC04304'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We backtracked a few blocks, and ascended up narrow concrete steps.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04309','12/DSC04325'], right: ['12/DSC04310','12/DSC04311'] })
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_3202'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Without further ado, we commenced the walk across Brooklyn Bridge, towards&nbsp;Manhattan.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_3220'})

    .Row
      .Content_Main.Content_Article
        :markdown
          The bridge provided excellent views of the skyline, the river, and even a distant glimpse of the Statue of Liberty, to our west.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04319','12/IMG_3255','12/IMG_3293','12/DSC04344'], right: ['12/IMG_3242','12/IMG_3279','12/DSC04326','12/DSC04334','12/DSC04362'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Before long, we arrived on the Manhattan end of the bridge.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4263'})
  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          We explored the nearby area, tall skyscrapers towering over us.
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/IMG_4274','12/IMG_4277','12/DSC04441'], right: ['12/IMG_4269','12/IMG_4280','12/IMG_4313'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          A nearby electronic store caught out eye.

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '12/IMG_4288', title: 'J&R Electronics Inc', address: '23 Park Row, New York, NY 10038, USA', place: 'Electronics store', rating: 4, link:'' })

    .Row
      .Content_Main.Content_Article
        :markdown
          A quick window-shop later, we headed west through Manhattan, the tall skyscrapers casting long shadows in the early afternoon.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/DSC04442'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04445','12/DSC04450','12/DSC04476'], right: ['12/DSC04446','12/DSC04463','12/DSC04478'] })
    
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/DSC04492'})
    
    .Row
      .Content_Main.Content_Article
        :markdown
          We continued west, passing Wall street.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04513'], right: ['12/DSC04535','12/DSC04499'] })
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '12/DSC04478'})
    
    .Row
      .Content_Main.Content_Article
        :markdown
          Eventually, the skyline began to clear as we reached the bottom of the CBD.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/DSC04547'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Before long, we arrived at the Staten Island south ferry terminal.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4322'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Continuing west, we arrived at Battery Park.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04587'], right: ['12/DSC04588','12/DSC04592'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          We started to explore Battery Park in the late afternoon sun.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/DSC04600'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04602'], right: ['12/DSC04603'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Arriving at the coast, we took a seat and admired the view, the Statue of Liberty visible in the distance.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/DSC04606'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/IMG_4328'], right: ['12/IMG_4331'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          A little while later, we made our way to a nearby station to catch a train back to our hotel.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/DSC04632'], right: ['12/DSC04634','12/DSC04635'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          ---

          That night, we set off for Barcade in Brooklyn.

    = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, image: '12/barcade', title: 'Barcade', address: '388 Union Ave, Brooklyn, NY 11211, USA', price: '$', menu: 'Arcade Bar', rating: 5, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Living up to its reputation, Barcade was a funky little bar with plenty of arcade machines, and some excellent craft beers.

          Little wooden surfaces were installed between arcade machines to put your drink down during games.
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/IMG_4345','12/IMG_4351'], right: ['12/IMG_4341','12/IMG_4339'] })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4352'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We tried our hand at a four player game of Teenage Mutant Ninja Turtles.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/IMG_4357'], right: ['12/IMG_4367'] })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '12/IMG_4360'})

    .Row
      .Content_Main.Content_Article
        :markdown
          A few drinks and many games later, we blearily headed off.

          We popped in to a bakery on Grand Street for some late night carbs.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['12/IMG_4373','12/IMG_4375'], right: ['12/IMG_4374'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We then returned to the hotel and turned in for the night.

    .Row#august-13
      .Content_Main.Content_Article
        :markdown
          ---
  
          The following morning, we rendezvoused in the hotel common room.
    
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_4378'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_4380'], right: ['13/IMG_4379'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We emerged in to a cloudy, rainy morning, and made our way to Marcy Avenue station, to explore Times Square.

          We emerged in downtown Manhattan. Many of the little convenience stores flanking the underground station entrances had put out umbrellas for the occasion, which a few of us picked up.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_4384'], right: ['13/IMG_4385'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Coffee in tow, we continued walking.

          Before long, we arrived on to 7th Ave of Times Square.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_4388'})

  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          The scale of Times Square made an immediate, striking impression, shimmering in the morning rain.

          Skyscrapers towered over us in every direction.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_4394'], right: ['13/IMG_4399'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We continued north up 7th Avenue.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_4402'})

  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          Until I’d visit Tokyo some 3½ years later, Times Square was far and away the street I’d walk down, with massive buildings, screens, signs, banners, and advertisments all simultaneously vying for your attention.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, right: ['13/IMG_4404','13/IMG_4408','13/IMG_4439'], left: ['13/IMG_4405','13/IMG_4412','13/IMG_4413'] })
  
    .Row
      .Content_Main.Content_Article
        :markdown
          We decided to grab some lunch at a nearby themed restaurant.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '13/jekyll', title: 'Jekyll and Hyde Club', address: '216 W 44th St New York, NY 10036 United States', price: '$$', menu: 'American', rating: 3, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Part restaurant, part theatrical performance, Jekyll and Hyde Club was certainly a place that traded primarily on the experience.

          The dark, charming gothic interior, paired with the in-character performers, made for a very distinct atmosphere.
          
          Every fifteen minutes or so, one of the staff would launch in to performance.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_4450'], right: ['13/IMG_4448','13/IMG_4464'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The food was pretty ordinary, but it was still a memorable experience.
          
          By now, factoring in tipping and tax was finally becoming second nature. We paid our bill, and headed back out onto the busy street.

          ---

          The rain had cleared, and Times Square was now periodically basked in sunlight, as the sun intermittedly shone from behind light cloud cover.
    
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_3358'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We continued up 7th Ave.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_3340', '13/IMG_4471'], right: ['13/IMG_3365', '13/IMG_4479', '13/IMG_3384'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          As we approached the top of Times Square, we veered off towards the Rockefeller center, and made our way to the Nintendo World Store.

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '15/IMG_4776', title: 'Nintendo World Store', address: '10 Rockefeller Plaza, New York, NY 10020', place: 'Retail', rating: 5, link:'' })

    .Row
      .Content_Main.Content_Article
        :markdown
          The store was a spacious, two-story retail store full of Nintendo memorabilia, playable consoles, and merchandise. 10-year old Brett would have been delighted (okay... 22-year old Brett was also quite delighted).          

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_4501'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_3390', '13/IMG_3394'], right: ['13/IMG_3397', '13/IMG_3398'] })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Irwin checking out Pikmin 3', photo: '13/IMG_4504'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_3400'], right: ['13/IMG_3402'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a good look around and a few purchases, we left the Nintendo World Store and returned to Rockefeller center.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_3411'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We took a look around inside the Rockefeller concourse.

          Inside, we found a Ben & Jerrys, which many of us happily partook in.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_4524'], right: ['13/IMG_4518','13/IMG_4528'] })

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_4530'})

  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          Returning to the outside of the Rockefeller center once more, we made a beeline for the Lego store.

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '13/IMG_4547', title: 'The LEGO Store', address: '620 5th Ave, New York, NY 10020, USA', place: 'Retail', rating: 5, link:'' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Inside were delightful displays made entirely out of Lego, as well as plenty of kits available to buy.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_4532','13/IMG_3422'], right: ['13/IMG_4543','13/IMG_4545'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a good look around, we departed from Rockefeller center, and set off for Central Park.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_4549'})
  
  .Content
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_3428','13/IMG_3438'], right: ['13/IMG_3435','13/IMG_3445'] })
    .Row
      .Content_Main.Content_Article
        :markdown
          A short walk later, we arrived at Central Park.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_3447','13/IMG_4555'], right: ['13/IMG_3455','13/IMG_3461','13/IMG_3463'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The warm afternoon sun shone through the park as we continued further&nbsp;in.

          It was a beautiful time of day to visit.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_4551'})
  .Content
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_3469','13/IMG_3484'], right: ['13/IMG_3480','13/IMG_3485'] })
    .Row
      .Content_Main.Content_Article
        :markdown
          We had an idea how big Central Park was, but it wasn’t really until we were standing there in its midst—with the aid of our phone GPS showing us how little of it we had walked so far—that it fully dawned on us.

          It had a lovely vibe, with plenty of people out and about, relaxing and enjoying the warm afternoon weather.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_3490','13/IMG_3512'], right: ['13/IMG_3511','13/IMG_3493'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          Eventually we began to tire, and with the prospect of still having to make the return jounrey, we conceded defeat, and headed back out of the park.
      
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_4560'], right: ['13/IMG_3522', '13/IMG_3526'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We boarded a train, and headed back to Williamsburg.

          One uneventful train ride later, we tiredly traipsed out on from the now very-familiar Marcy Avenue station platform back to our hotel.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '13/IMG_3528'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['13/IMG_3530','13/IMG_3539'], right: ['13/IMG_4566','13/IMG_3531'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We gratefully arrived at our hotel, and promptly crashed for the evening.

          ---

          Later that night, we headed out in search of food. Still tired from the long day, we decided to go for a low-key, takeaway option.

          We walked a few blocks from our hotel to find a highly rated vegan place Butcher had read about.
    
    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '13/champs', title: 'Champs Diner', address: '197 Meserole St Brooklyn, NY 11206', price: '$$', menu: 'Vegan Diner', rating: 5, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          We arrived at the small diner, and placed our respective orders.
          
          Some time later our orders were ready, and we returned to the hotel. We sat at the long hotel common room table and unpacked our meals.
          
          If I hadn’t been informed that the meal was vegan, I’d have thought I was eating honest to goodness meat-based comfort food. Richard had some chicken wings that looked the part; until you reached a small chopstick in the center in place of the usual chicken bone.

          Still feeling exhausted from the long day, we turned in early for the night.

    .Row#august-14
      .Content_Main.Content_Article
        :markdown
          ---

          The next morning, many of our party were still feeling flat from the previous day. Butcher was feeling sick and Irwin had developed tonsolitis. This trip had really taken its toll on us.

          I decided to head out for an early morning walk around Manhattan, and try to experience the city in a low-key manner, as a local might.

          A short train ride later and I was back in Manhattan, arriving on Chamber&nbsp;street.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['14/IMG_4578','14/IMG_4581','14/IMG_4584'], right: ['14/IMG_4579','14/IMG_4582'] })          

    .Row
      .Content_Main.Content_Article
        :markdown
          I decided to visit a Starbucks to grab the bircher museli one last time while I was in America.
          
          I’d been rather fond of it since discovering it back in Las Vegas.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '14/IMG_4588'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Over a very chill breakfast, I decided to set off for the One World Trade Center nearby.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['14/IMG_4592'], right: ['14/IMG_4594'] })          

    .Row
      .Content_Main.Content_Article
        :markdown
          I spent a little while exploring the area around the One World Trade Center.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '14/IMG_4595'})

    .Row
      .Content_Main.Content_Article
        :markdown
          In our group chat, Richard had mentioned he was now ready to set off from the hotel. I arranged to meet him at Chamber street.

          While he commuted in, I checked out a nearby department store.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '14/IMG_4596'})

    .Row
      .Content_Main.Content_Article
        :markdown
          The department store was massive, and I being struck by the large variety of clothes in stock. I was just used to the comparatively small suburban shopping centers I grew up with back in Perth, I suppose.

          A little while later, I met up with Richard.
          
          Now approaching lunchtime, we decided to pop in to an interesting looking bistro, full of different, international cuisines.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '14/IMG_4603', title: 'Olivia Gourmet', address: '225 Broadway, New York, NY 10007, USA', price: '$$', menu: 'Bistro', rating: 4, link: '' })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          Inside was a long, narrow alley flanked with many different counters of various cuisines. There was certainly a feeling of being paralysed by the sheer amount of choice. In the center at the back of the store was communual seating.
          
          Richard grabbed some New York style pizza slices, and I had a small plate of salad and meats.
    
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['14/IMG_4605','14/IMG_4609'], right: ['14/IMG_4606','14/IMG_4610'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After lunch, we continued our steady northward progress up&nbsp;Manhattan.

          We popped in to a 7 Eleven, and we picked up some American snacks, including a small pack of Twinkies.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '14/IMG_4616'})

  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          As we continued, we spotted a Best Buy, which we decided to check out.

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '14/bestbuy', title: 'Best Buy', address: '622 Broadway, New York, NY 10012, USA', place: 'Electronics store', rating: 4, link:'' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Best Buy reminded me a little of JB HiFi. Maybe because of the yellow branding, but it also happens to stock a similar range of electronics, computer equipment, and media, just an even larger scale.

          We explored the numerous floors.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '>BBC<br/>>America', photo: '14/IMG_4625'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I picked up a copy of Yeezus on the way out.

          After we left Best Buy, we quickly stopped in at an interesting looking Western themed store.
    
    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '14/IMG_4629', title: 'Western Spirit', address: '392 Broadway, New York, NY 10013, USA', place: 'Western store', rating: 3, link:'' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Early afternoon, we decided to head back to the hotel to take a break.
          
          We dropped our bags, and spent a couple of hours relaxing at the hotel. Richard and I sampled some of our American snacks.
          
          I quite enjoyed the Twinkie. It wasn’t until Richard observed that they tasted like a pancake with golden syrup that I understood why.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, right: ['14/IMG_4631'], left: ['14/IMG_4634'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          ---

          Later that evening, we coordinated to meet in Manhattan.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '14/DSC04941'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, right: ['14/IMG_4636','14/IMG_4637'], left: ['14/IMG_4641'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Once everyone arrived, we headed to a nearby Chipotle.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '14/chipotle', title: 'Chipotle', address: '129 W 48th St New York, NY 10020 United States', price: '$$', menu: 'Mexican', rating: 5, link: '' })
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['14/IMG_4644','14/IMG_4647'], right: ['14/IMG_4656','14/IMG_4654'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          The burritos at Chipotle were indeed pretty good, for a franchise.

          After dinner, we emerged in to busy Times Square&nbsp;nightlife.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['14/IMG_4659','14/IMG_4672'], right: ['14/DSC04945','14/IMG_4662','14/IMG_4681'] })          

    .Row
      .Content_Main.Content_Article
        :markdown
          At night, Times Square is absolutely buzzing with activity. It had a lively, welcoming vibe.

          The lights, the vibes, the spectacle. It was all heightened at night.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['banner','14/DSC04951','14/DSC04953'], right: ['14/DSC04952','14/IMG_4683','14/DSC04955'] })          
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '14/DSC04961'})

    .Row
      .Content_Main.Content_Article
        :markdown
          As we continued down 7th Ave, the Disney store caught our eye.

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '14/DSC04973', title: 'Disney Store', address: '1540 Broadway, New York, NY 10036, USA', place: 'Toy Store', rating: 4, link:'' })
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['14/DSC04965', '14/IMG_3686'], right: ['14/IMG_3682','14/IMG_3685', '14/DSC04973' ] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a good look around, we returned to the bustling Times Square street.

          We took some photos set against the bustling Times Square strip.
    
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, right: ['14/IMG_3705'], left: ['14/IMG_3711__3-2'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          A little further down, we decided to pop in to the nearby Toys ‘R’ Us store. 

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '14/IMG_3737', title: 'Toys ‘R’ Us', address: '1466 Broadway, New York, NY 10036, USA', place: 'Toy Store', rating: 4, link:'' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Replete with attached Willy Wonka store, and a giant indoor ferris wheel.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['14/IMG_3720','14/DSC04971','14/IMG_4706'], right: ['14/IMG_3717','14/IMG_3730','14/IMG_3737'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After exploring the many floors of toys, merchandise, and confectionary, we left the store.

          Now a fair bit later, and all feeling a little tired, we embarked on the familiar journey from downtown Manhattan back to our hotel.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['14/DSC04986','14/IMG_3765','14/IMG_3771'], right: ['14/DSC04987','14/IMG_3768','14/IMG_3790'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We arrived back at the hotel, and turned in for the night.
    
    .Row#august-15
      .Content_Main.Content_Article
        :markdown
          ---

          I awoke on the penultimate morning of our trip, without a clear plan for what to do in mind.

          Today was the last full day in New York, and our America trip. The next day would be mainly lost to flights and connections.
          
          It was hard not to feel a strange pressure to make the most of it. But realistically, that pressure would only be counter-productive to actually enjoying the day.
          
          I decided to apply a similar strategy to the previous day, and just head out for a final catchall day where I tried to get around to anything I’d want to do before returning to Australia.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '15/IMG_4709'})

    .Row
      .Content_Main.Content_Article
        :markdown
          That strategy ended up taking me back to Manhattan again.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/IMG_4711'], right: ['15/IMG_4713'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          On a whim, I decided to pop in to an Apple Store I was passing by.

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '15/IMG_4718', title: 'Apple SoHo', address: '103 Prince Street New York, NY 10012, USA', place: 'Apple Store', rating: 4, link:'' })

    .Row
      .Content_Main.Content_Article
        :markdown
          If you’ve visited one Apple store, you’ve visited them all. They’re all tastefully furnished and have a similar layout; definitely not by accident.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/IMG_4714'], right: ['15/IMG_4715','15/IMG_4717'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          I continued exploring the neighbouring area.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/IMG_4721'], right: ['15/IMG_4726'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          In the theme of trying things I couldn’t do back in Australia, I decided to check out Dunkin’ Donuts, for a truly unhealthy breakfast.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '15/IMG_4728', title: 'Dunkin’ Donuts', address: '72 W 3rd St New York, NY 10012, USA', price: '$', menu: 'Doughnut', rating: 2, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          I have no idea why they call it Dunkin’ Donuts. Maybe because marketing types think alliteration is more memorable, or because it’s genuinely a serving suggestion?

          I was curious; I like coffee, and doughnuts — could this combination work? Skeptical, I nevertheless gave it a try, wondering if I was about to experience something truly revelatory.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/IMG_4729'], right: ['15/IMG_4731'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The answer arrived quickly and rather unsurprisingly.

          Not really.

          In typical American fashion, it was drip coffee with cream, and sweetened with an abundance of sugar. It was even sweeter paired with the glazed doughnut, which was rather middling too.

          After consuming my daily intake of sugar in one cup of coffee, I set off&nbsp;again.

          ---

          As lunch time loomed a little while later, I organised with our group chat to meet up for lunch.

          We opted for a light option for lunch, with the plan to grab pizza for dinner.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '15/IMG_4734', title: 'Le Pain Quotident', address: '253 Grand St, Brooklyn, NY 11211, USA', price: '$$', menu: 'American', rating: 4, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Le Pain Quotident was a charming little bakery, whose displays were full of scrumptious looking baked goods.

          We were seated, and ordered our lunch.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/IMG_4739'], right: ['15/IMG_4741','15/IMG_4742'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a pleasant, light lunch, we left.

          But not before I picked up some takeaway treats.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/IMG_4747'], right: ['15/IMG_4748'] })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '15/IMG_4750'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We set off through afternoon Manhattan.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '15/IMG_4760'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/IMG_4766'], right: ['15/IMG_4768'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We returned to the Toys ‘R’ Us in Times Square, so that Irwin could pick up a limited edition Lego set.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/IMG_4779'], right: ['15/IMG_4780'] })


    .Row
      .Content_Main.Content_Article
        :markdown
          Mid afternoon, we headed back to the hotel.

          ---

          That evening, we made our way to Loimbardi’s Pizza.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '15/lombardis', title: 'Lombardi’s Pizza', address: '32 Spring St, New York, NY 10012, USA', price: '$$', menu: 'American', rating: 4, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a short wait, we were seated.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '15/DSC00048'})

    .Row
      .Content_Main.Content_Article
        :markdown
          And before long, the much-hyped pizzas arrived.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/DSC00049'], right: ['15/DSC00052','15/DSC00064'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Our pizzas were indeed fantastic. We enjoyed a very pleasant meal, recounting our adventures.

          Despite all our training—on nearly a month of American portion sizes—and the fantastic pizza, we were roundly defeated by the sheer serving sizes.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/DSC00069'], right: ['15/DSC00078'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After dinner, we departed in to Manhattan nightlife.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/DSC00084'], right: ['15/DSC00087','15/DSC00095'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          Struck by a last-minute mission to hunt down another box of Twinkies to bring home to Perth, my friends accompanied me on a multi-block late night Manhattan mission, to track down another box of Twinkies.

          After a string of convenience stores had no stock (according to staff at one store they had only just returned, and were still somewhat hard to come by), we finally succeeded in our mission.
    
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Sweet success', photo: '15/DSC00101'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Mission accomplished, we could now return to Perth. And our hotel.
    
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['15/DSC00096'], right: ['15/DSC00099'] })

    .Row#august-16
      .Content_Main.Content_Article
        :markdown
          ---

          We awoke early the next morning, getting prepared for a long day of traveling and connections.
          
          Before long, our bags were packed, and we were off.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['16/IMG_4785'], right: ['16/IMG_4787'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We boarded the opposite platform at Marcy Avenue station, bound for JFK&nbsp;airport.
    
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['16/DSC05126'], right: ['16/IMG_4789'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          One uneventful train ride later, we arrived at JFK, and dropped our bags at the check in counter.

          With our flight scheduled for a 2:00pm departure, we decided to grab some lunch beforehand.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '16/shakeshack', title: 'Shake Shack', address: 'Terminal 8, Jamaica, NY 11430, USA', price: '$$', menu: 'Burger', rating: 5, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          I was summarily impressed with Shake Shack, and felt a little regretful I hadn’t treated myself to a couple more burgers during my time in America.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['16/IMG_4795'], right: ['16/IMG_4793','16/IMG_4797'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          Soon enough, we were boarding our 6+ hour Delta Airlines flight, bound for San&nbsp;Francisco.

    = partial("photoessays/components/flight", locals: {slug: current_page.data.slug, image: '16/DSC05130', title: 'Flight 1565', origin: 'JFK', destination: 'SFO', gate: '', seat: '41D', airline: 'Delta Airlines', depart: '1:59pm', arrive: '5:24pm', rating: '' })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '16/DSC05132'})

    .Row
      .Content_Main.Content_Article
        :markdown
          ---

          One long, uneventful flight later, we arrived in early evening San Francisco.
          
          We picked up our luggage at baggage claim, and proceeded to the check in counter to drop bags for our flight to Melbourne.
    
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['16/IMG_4802','16/IMG_4811'], right: ['16/IMG_4805','16/IMG_4813'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Check-in and bag drop for our flight was not yet available, so we loitered around the terminal, waiting for it to open.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'A quintessential American pick me up.', photo: '16/IMG_4820'})

    .Row
      .Content_Main.Content_Article
        :markdown
          It was around this time that it struck me traveling involes long periods of waiting; from check-in, to boarding, to onboard the flight. It’s basically all waiting, innit?
          
          It probably wasn’t as profound a thought as it occured to me at the time; I was a bit delirious.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['16/DSC05137'], right: ['16/DSC05138','16/DSC05139'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Finally, check-in for our flight opened.
          
          We dropped our bags, checked in, and headed to the gate.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['16/IMG_4821'], right: ['16/IMG_4826'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We grabbed some dinner and waited near the gate. There was still a few hours before our flight boarded, at around 9:00pm.

          Eventually, we boarded our flight to Melbourne, with a brief layover in Auckland.

    = partial("photoessays/components/flights", locals: { slug: current_page.data.slug, image: '16/DSC05144', flights: [ { title: 'NZ7', origin: 'SFO', destination: 'AKL', gate: '', seat: '', airline: 'Air New Zealand', depart: '10:00pm', arrive: '5:55am +2', rating: ''}, { title: 'NZ123', origin: 'AKL', destination: 'MEL', gate: '', seat: '', airline: 'Air New Zealand', depart: '8:20am', arrive: '10:20am' } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          The following morning (well, the morning following the following morning), we arrived blearily in Melbourne Airport.

          Most of our party checked in and dropped bags for their Perth flight almost&nbsp;immediately.
          
          I had arrived to Melbourne on a separate flight, and had over another 12 hours before my scheduled departure.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '16/IMG_4835'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I bid farewell to my fellow America trip compatriots.
          
          Exhausted, I restlessly spent the day at Melbourne airport; too tired to bother venturing out.

          That night, I gratefully boarded my flight home.

    = partial("photoessays/components/flight", locals: {slug: current_page.data.slug, image: '16/tiger', title: 'TT 186', origin: 'MEL', destination: 'PER', gate: '', seat: '41D', airline: 'Delta Airlines', depart: '9:45pm', arrive: '11:55pm', rating: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          At long last, I arrived home.

          ---
          
          I feel so fortunate to have shared this trip with such good friends. It was an incredible trip, full of memories that will be with me for the rest of my life.

    .PhotoRow
      .PhotoEssayFooterNavigation
        = link_to "/photoessays/2013/washington", class: 'PhotoEssay_nav PhotoEssay_nav--previous', style: "background-image: url('/images/photoessays/2013/washington/banner.jpg')" do
          .PhotoEssay_nav_label Previous
          .PhotoEssay_nav_title Washington
          .PhotoEssay_nav_date August 9, 2013
