---
  title: Washington
  slug: '2013/washington'
  subtitle: Monuments valley
  body_classes: page-photoessays
  meta_description: Monuments valley
  meta_keywords:
  trip:
    location: america
    weather: cloud
    arrival: bus
    departure: bus
    dates:
      from: 2013-8-9
      to: 2013-8-11
  days:
    august-09:
      date: 2018-08-09
      title: Arriving
      description: and dodgy motels
    august-10:
      date: 2018-08-10
      title: Exploring Washington
      description: Monuments and Museums
    august-11:
      date: 2018-08-11
      title: Departing
      description: bound for New York
---

- @og_image_override = 'photoessays/2013/washington'

= partial("photoessays/2013/day_navigation", locals: { days: current_page.data.days } )
= partial("/photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Page
  .Content#story#august09
    .Row
      .Content_Main.Content_Article
        :markdown
          Our Greyhound bus headed towards Washington through the early afternoon. Onboard, I ended up sitting with a stranger, and had a conversation that I learned later apparently was quite audible throughout the bus. I guess our voices carried.

          An otherwise uneventful ride later, we finally arrived at the Washington Greyhound bus depot. From the depot, we headed with our luggage toward a nearby underground station, in order to make our way to our hotel.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '09/DSC03485'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['09/IMG_3697'], right: ['09/IMG_3698'] })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '09/IMG_3703'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Mid afternoon, we arrived at our hotel; it was the rather infamous Allen Lee Hotel in Foggy Bottom (#{ link_to 'RIP in Peace', 'https://wamu.org/story/14/11/07/once_maligned_dc_landmark_gets_makeover_as_citys_first_pod_hotel/', target: '_blank' }).
    
    = partial("photoessays/components/place_accomodation", locals: {slug: current_page.data.slug, image: '10/DSC03497', title: 'The Allen Lee Hotel', address: '2224 F St NW Washington, DC 20037 United States', checkin: current_page.data.trip.dates.from, checkout: current_page.data.trip.dates.to, rating: 1 })

    .Row
      .Content_Main.Content_Article
        :markdown
          Even from the outside it didn’t make a spectacular impression. Peelings walls, it looked rather decrepit.

          We entered, checked in, and had to wait around in the lobby for the staff to sort out some weird booking error.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['09/DSC03492'], right: ['09/DSC03493','09/DSC03496'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Eventually, we were able to move from the lobby to our rooms.

          Honestly, the lobby was much nicer.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['09/IMG_3706'], right: ['09/IMG_3710'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          On the bright side, we weren’t in Washington for long. Still though, it was a far cry from the Holiday Inn we’d just left in Pittsburgh.

          Not particularly keen to stay in the hotel for long, we emerged in to the early evening to explore Washington.
  
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '09/IMG_3711'})

  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          Streets in Washginton were wide, and buildings oddly flat. We came to learn that there were height restrictions imposed on buildings, which made for a CBD full of squat buildings.

          As night fell, we found a downtown Indian place.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '09/IMG_3718', title: 'Rasoi Indian Kitchen', address: '1810 K St NW Washington, DC 20006 United States', price: '$$', menu: 'Indian', rating: 4, link: '' })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          We ordered our respective meals. I ordered a spicy vindaloo that allowed me to see through time.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['09/IMG_3712'], right: ['09/IMG_3721','09/IMG_3722'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After dinner and drinks, we emerged into a cool Washington summer night.

          In a spicy curry and booze fueled deliria, I headed with the rest of our crew to take a look at the Washington monuments at night.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['09/IMG_3723'], right: ['09/IMG_3729'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We soon arrived at the Lincoln Memorial.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Recognisable, even from a&nbsp;distance.', photo: '09/IMG_3735'})

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['09/IMG_3738'], right: ['09/IMG_3742'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The Lincoln Memorial was large and very impressive in person.

          It felt surreal. Something so distinct and recognisable, that has always been part a cultural icon and which had always felt distant.
          
          Suddenly being there, physically in person, and sharing that physical space — with friends I’d known for years, and people I’d never met before.

          It was surreal.

          Once we’d taken in the Memorial we sat outside on the steps, in the cool summer air.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '09/IMG_3750'})

    .Row
      .Content_Main.Content_Article
        :markdown
          A little while later, we returned back to the hotel, and turned in for the night.

    .Row#august-10
      .Content_Main.Content_Article
        :markdown
          ---

          We were awoken early the next morning by what sounded like a woman being forcefully evicted from her room. There was a horrible commotion, and it sounded like police may have been on the scene.
          
          We lay there, hearing the disruption almost as clearly as if we were in the room, our imaginations filling in the blanks.

          At a more reasonable morning hour, we met in the lobby and helped ourselves to the breakfast buffet, which was mainly toast and spreads, and planning how to see as much of Washington as we could in the day.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_3755'], right: ['10/IMG_3760','10/IMG_3762'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We set off to take a look around the Washington monuments.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3763'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_3764','10/DSC03499'], right: ['10/IMG_3765','10/IMG_3768'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          It didn’t take long for the photo-ops to materialise.
          
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3773'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/DSC03504'], right: ['10/DSC03514'] })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2650'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We came across a map detailing the locations of the monuments, memorials, and museums.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'All those iconic monuments are like across the road from each other.', photo: '10/IMG_3778'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_3781'], right: ['10/IMG_3784 '] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We continued counter clockwise on the map, and arrived at the Korean War Veterans Memorial.
    
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3791'})

  .Content
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2667'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2674'})

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3798'})
  
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3804'})

  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          We made our way towards the Lincoln Memorial.
  
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3805'})
  
  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          It was far busier during the day and by daylight, we could see far more of the surrounding area.
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2688'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We entered the large, cavernous monument.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2691'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_2698'], right: ['10/IMG_2699'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          We returned down the steps from the memorial to the reflecting pool.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/DSC03592'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: 'banner'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_2710'], right: ['10/IMG_2724'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After photographing some freedom ducklings in the reflecting pool, we made our way towards the Washington Monument, stopping by the World War II memorial.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/DSC03608'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2742'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/DSC03621','10/IMG_2773','10/IMG_3831'], right: ['10/IMG_2754','10/IMG_2739','10/IMG_2774'] })
    
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3832'})

  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          From the World War II memorial, we then headed towards the Washington Monument.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2775'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/DSC03644'], right: ['10/DSC03653'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Unfortunately, the monument was closed for repairs after an earthquake in&nbsp;2012.

          We continued on, the White House looming into view in the distance.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2780'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2786'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/DSC03663'})
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2790'})
    
    .Row
      .Content_Main.Content_Article
        :markdown
          After taking our photo outside of the Whitehouse, we continued on towards the Smithsonian museums.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_2799','10/DSC03699','10/IMG_3861'], right: ['10/IMG_2808','10/IMG_2810','10/IMG_2814','10/IMG_3862'] })
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/DSC03708'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We arrived at the Smithsonian National Air and Space Museum.

    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '10/DSC03717', title: 'National Air and Space Museum', address: '600 Independence Ave SW, Washington, DC 20560, USA', place: 'Museum', rating: 5, link:'' })

    .Row
      .Content_Main.Content_Article
        :markdown
          The large, spacious foyer was filled with models of rockets, planes, and other aircrafts.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/DSC03728'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2826'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We explored the ground floor, replete with a replica of the Lunar Lander.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_3876','10/IMG_2836','10/IMG_2880'], right: ['10/IMG_3888','10/IMG_2838'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          We stopped for lunch at the food court. I grabbed a burger from McDonalds (it was unsurprisingly, very familiar).

          After lunch, we made our way up the second floor, to continue exploring the various displays.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2887'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_3899','10/IMG_3912'], right: ['10/IMG_3909'] })
    
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_2892'], right: ['10/IMG_2895'] })
    
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2905'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After exploring the second floor, and taking a look through the gift shop, we departed.
          
          Outside the museum, Butcher and I took the opportunity to try the Astronaut ice cream we’d picked up from the gift shop.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_3946'], right: ['10/IMG_3948'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          <em>“Like chalky ice cream”</em>

    = partial("photoessays/components/video", locals: {slug: current_page.data.slug, video: '10/IMG_3947'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We walked through the warm, early afternoon.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2923'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2930'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Eventually we arrived at our second museum for the day; the National Museum of Natural History.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_2932'})
    = partial("photoessays/components/place_of_interest", locals: {slug: current_page.data.slug, image: '10/IMG_2802', title: 'National Museum of Natural History', address: '10th St. & Constitution Ave. NW, Washington, DC 20560, United States', place: 'Museum', rating: 5, link:'' })
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3971'})
  .Content
    .Row
      .Content_Main.Content_Article
        :markdown
          This museum was equally impressive, with lifelike models of creatures from many different periods of time on Earth.

          We set about exploring the museum.
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_2934','10/IMG_2946','10/IMG_3001','10/IMG_4025'], right: ['10/IMG_3951','10/IMG_2996','10/IMG_3000','10/IMG_4032'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The museum and its displays were very impressive.
          
          Unfortunately I was beginning to fade a little, and was unable to fully enjoy the latter half of our time there. All the running around of that day was starting to catch up to me.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3009'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Later that afternoon, we departed the museum, heading for our hotel.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_3048'})      
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, left: ['10/IMG_3056'], right: ['10/IMG_3063'] })
    
    .Row
      .Content_Main.Content_Article
        :markdown
          We arrived to find three police cars outside our hotel.

          We never learned why they were there. Just another day at the Allen Lee.
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_4041'})

    .Row
      .Content_Main.Content_Article
        :markdown
          We caught out breath, and packed our bags for departure to New York the following day.

          ---

          Later that evening, we set off in search of food.
    
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '10/IMG_4044'})
    
    .Row
      .Content_Main.Content_Article
        :markdown
          We soon found an interesting Italian chain called Vapiano.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: '10/vapiano', title: 'Vapiano', address: '1800 M St NW, Washington, DC 20036, USA', price: '$$', menu: 'Italian', rating: 4, link: '' })

    .Row
      .Content_Main.Content_Article
        :markdown
          It had an interesting ordering system where you were given a card you’d swipe to order food, and then when you left, you paid the balance.
        
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Some pretty good carbs', photo: '10/IMG_4047'}) 

    .Row
      .Content_Main.Content_Article
        :markdown
          I’m sure this was designed to try to take advantage of human psychology and encourage you to order more, and it nearly worked on me as I considered ordering some Tiramisu for dessert.

          After a pleasant dinner, we decided to turn in early, given our departure the next day. Our time in Washington was brief, and jam-packed.

  .Content
    .Row#august-11
      .Content_Main.Content_Article
        :markdown
          ---

          The next morning, we checked out of the Allen Lee and made our way to the nearest underground station, luggage in tow.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', photo: '11/IMG_4051'}) 
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Waiting on the platform', photo: '11/DSC04180'}) 

    .Row
      .Content_Main.Content_Article
        :markdown
          A short ride later, we transferred to the greyhound terminal for the last leg of our America trip.

          Soon enough, we were on our way to New York. It was the final stop of our trip, and one I was very much excited for.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', photo: '11/IMG_4055'}) 

    .PhotoRow
      .PhotoEssayFooterNavigation
        = link_to "/photoessays/2013/pittsburgh", class: 'PhotoEssay_nav PhotoEssay_nav--previous', style: "background-image: url('/images/photoessays/2013/pittsburgh/banner.jpg')" do
          .PhotoEssay_nav_label Previous
          .PhotoEssay_nav_title Pittsburgh
          .PhotoEssay_nav_date August 7, 2013
