---
  title: Kyoto Shrines
  slug: '2017/kyoto/jan-16'
  subtitle: and dumplings and sake
  body_classes: page-photoessays
  meta_description: and dumplings and sake
  collection:
    prev: jan-15
    current: jan-16
    next: jan-17
  meta_keywords:
---

- @og_image_override = 'photoessays/2017/kyoto/jan-16'

= partial("photoessays/2017/kyoto/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Page
  .Content#story

    .Row
      .Content_Main.Content_Article
        :markdown
          The next morning I awoke and grabbed another coffee from Kurasu.

    = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, image: 'kurasu', title: 'Kurasu', address: '下京区東油小路町552 (油小路通塩小路下る) Kyoto', price: '¥', menu: 'Coffee', rating: 5, link: 'https://foursquare.com/v/kurasu/57abc6d6498ef9d8938d95cf' })

    .Row
      .Content_Main.Content_Article
        :markdown
          I headed for a nearby buddist temple. The snow that had fallen the day prior making walkways and overpasses a bit slushy.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160600'})

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'So slippery...', 'photo': 'P1160596'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Having just arrived from Tokyo, Kyoto seemed more modest in the size of its buildings.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160615'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Shrines and temples in Kyoto are everywhere. Barely five minutes from my hotel, on an unassuming corner, was the first temple I visited.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1160632'] }, { count: 2, caption: '', photos: ['P1160617','P1160623'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          I entered, admiring the ornate architecture.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1160648'] }, { count: 1, caption: '', photos: ['P1160656'] }, { count: 2, caption: '', photos: ['P1160658','P1160666'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          I wandered through the courtyard in the crisp morning air, taking in the sights.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1160672','P1160680'], 'right': ['P1160676','P1160705'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Eventually, it was time to head on.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160697'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Being Kytoto, it wasn’t far to the next shrine on my list. It was more or less next door.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1160709','P1160743'], 'right': ['P1160721','P1160731'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The scale of this second temple dwarfed the first I’d&nbsp;visited.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160755'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I headed north, crossing through small residential&nbsp;streets.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160760'})

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Snowman-san', 'photo': 'P1160771'})

    .Row
      .Content_Main.Content_Article
        :markdown
          It wasn’t long before I reached my third temple.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1160773'], 'right': ['P1160778'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          This was, by far, the biggest yet.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'This photo was taken from across a two lane road, for scale.', 'photo': 'P1160795'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Snow begun to fall heavily as I entered the shrine.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1160806'] }, { count: 1, caption: '', photos: ['P1160811'] }, { count: 1, caption: '', photos: ['P1160813'] } ] } )
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160824'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After many a photo, I departed, heading north for downtown Kyoto.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160825'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After a decent walk I arrived in downtown Kyoto, and headed for Din Tai Fung.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'dintaifung', title: 'Din Tai Fung', address: '下京区真町52 (京都タカシマヤ 3F), Kyōto', price: '¥¥', menu: 'Dumpling', rating: 4, time: '9:44am', link: 'https://foursquare.com/v/%E9%BC%8E%E6%B3%B0%E8%B1%90-%E4%BA%AC%E9%83%BD%E5%BA%97/4bea6cd46295c9b650658608' })

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Pork buns are life 👌', 'photo': 'P1160832'})

    .Row
      .Content_Main.Content_Article
        :markdown
          After lunch, I trapised back towards my hotel in&nbsp;Kyoto.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160836'})

    .Row
      .Content_Main.Content_Article
        :markdown
          ---

          I emerged from my hotel later in the evening.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160843'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Kurasu was still open and slinging coffee, which was nice to see. It was however, after my coffee curfew.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Perth could learn a thing or two about opening hours...', 'photo': 'P1160852'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Given it was too late for coffee, it was clearly time for&nbsp;a&nbsp;drink.

    = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, image: 'mitm', title: 'Man in the moon', address: '南区東塩小路釜殿町31-1 (近鉄名店街みやこみち近鉄京都駅高架下), Kyōto', price: '¥', menu: 'Pub', rating: 4, link: 'https://foursquare.com/v/man-in-the-moon-%E4%BA%AC%E9%83%BD%E9%A7%85%E5%BA%97/4b893131f964a520f22132e3' })

    .Row
      .Content_Main.Content_Article
        :markdown
          I sat at the bar and ordered a hot sake.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1160857'})

    .Row
      .Content_Main.Content_Article
        :markdown
          A couple of drinks later, I went in search of food, ending up at a place called Pointoru at The Cube eatery nearby.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'pontoiru', title: 'Pointoru', address: '下京区真町52 (京都タカシマヤ 3F), Kyōto', price: '¥¥', menu: 'Pasta, Japanese Fusion', rating: 2, time: '', link: 'https://gurunavi.com/en/k721301/rst/' })

    .Row
      .Content_Main.Content_Article
        :markdown
          After an experimental dinner I had mixed feelings about, I headed back to the hotel.

  = partial("photoessays/2017/kyoto/footer", locals: {collection: current_page.data.collection})
