---
  title: Arashiyama Views
  slug: '2017/kyoto/jan-17'
  subtitle: and a closed monkey park
  body_classes: page-photoessays
  meta_description: and a closed monkey park
  collection:
    prev: jan-16
    current: jan-17
    next: jan-18
  meta_keywords:
  ogp:
    og:
      title: Arashiyama Views
      description: and a closed monkey park
      image:
        '': http://brett.cool/images/photoessays/2017/kyoto/jan-17/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Arashiyama Views
      description: and a closed monkey park
      image:
        '': http://brett.cool/images/photoessays/2017/kyoto/jan-17/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/2017/kyoto/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Content#story

  .Content_row
    .Content_main
      .Article_content
        :markdown
          The next morning I headed to Kyoto station, destined for Arashiyama.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1170867'})
  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1170871'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I boarded a train, and was away.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1170877','P1170931'], 'right': ['P1170917','P1170936'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I’d accidentally caught an express train that didn’t stop at the correct stop.

          This, however, provided a great opportunity to get some more photos, and since I was using a JR rail pass, it wasn’t a costly mistake either!

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1170948','P1170965','P1170977'], 'right': ['P1170963','P1170971','P1170980'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Eventually I arrived at the correct station.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1170990'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I set off on foot, heading for the monkey park.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1170995'})

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1170997'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I came to the edge of the town, with a bridge across to the monkey park.

  = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1171009'] }, { count: 1, caption: '', photos: ['P1171014'] }, { count: 2, caption: '', photos: ['P1171017','P1171022'] } ] } )

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171036'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I headed up towards the monkey park...

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1171040'], 'right': ['P1171044'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Unfortunately, it was closed due to the snow... Fortunately, there was plenty more to see and do.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171047'})
  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171049'})
  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1171051'], 'right': ['P1171053'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I headed back over the bridge.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171055'})
  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171066'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          From there, I traced my way along the river, and up some slippery, slushy cobblestone steps.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1171090'], 'right': ['P1171086'] })

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Slipping would be srs business.', 'photo': 'P1171104'})

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171112'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I climbed higher up the incline...

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1171118'], 'right': ['P1171120'] })
  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'This part was all of&nbsp;my&nbsp;nope', 'photo': 'P1171126'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Slipping, sliding, and convinced I was about to end up in the river over the side, I eventually managed to scramble up the slippery steps, being overtaken by locals wearing flats and converse...

          It was worth it for the view.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171135'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          After admiring the view, I headed down the opposite side, hoping the way down would be a bit easier.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '🤔', 'photo': 'P1171144'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          On the way down, I ended up in a bamboo forest.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171148'})
  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171153'})
  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1171155','P1171164'], 'right': ['P1171162','P1171166'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I reached the town and headed for the train station.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171183'})
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171188'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          ---

          Later that evening, I set out for downtown Kyoto via the&nbsp;metro. 

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171207'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I headed for a highly rated sake bar.

  = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, image: 'sakebar', title: 'たつみ', address: '中京区中之町572 (しのぶ会館), Kyōto', price: '¥', menu: 'Sake Bar', rating: 4, link: 'https://foursquare.com/v/%E3%81%9F%E3%81%A4%E3%81%BF/4b669ed9f964a520bb252be3' })

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171222'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          A few drinks later, I wandered off in search of dinner, eventually finding a good looking Udon restaurant.

  = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'omen', title: 'Omen Nippon', address: '中京区柏屋町171−1 (四条通先斗町西入ル), Kyōto', price: '¥¥', menu: 'Udon', rating: 4, time: '', link: 'https://foursquare.com/v/%E3%81%8A%E3%82%81%E3%82%93-nippon-%E5%9B%9B%E6%9D%A1%E5%85%88%E6%96%97%E7%94%BA%E5%BA%97/4baf1f21f964a52053ec3be3' })

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Some excellent vegetable tempura', 'photo': 'P1171223'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          After dinner, I wandered through downtown Kyoto, down some very aesthetic alleyways, in search of more bars.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171239'})
  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171242'})
  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1171247'], 'right': ['P1171263'] })
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171250'})
  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1171270'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Eventually, I ended up at a rock themed bar.

  = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, image: 'ing', title: 'ING Bar', address: '南車屋町288-201 (西木屋町通蛸薬師上る), Nakagyō, Kyōto', price: '¥¥', menu: 'Bar', rating: 4, link: 'https://foursquare.com/v/ing/4f64bcbde4b05c1d59996657/' })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          After a few drinks, it was time to call it a night.

          On my way back to my hotel I made a drunken decision to pick up an ice cream from a convenience&nbsp;store.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'It was a good decision.', 'photo': 'P1171278'})

= partial("photoessays/2017/kyoto/footer", locals: {collection: current_page.data.collection})
