---
  title: Nara Park
  slug: '2017/kyoto/jan-18'
  subtitle: Deer and Kyoto Tower views
  body_classes: page-photoessays
  meta_description: Deer and Kyoto Tower views
  collection:
    prev: jan-17
    current: jan-18
    next: jan-19
  meta_keywords:
---

- @og_image_override = 'photoessays/2017/kyoto/jan-18'

= partial("photoessays/2017/kyoto/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Page
  .Content#story

    .Row
      .Content_Main.Content_Article
        :markdown
          The next morning I headed to the train station, intending to visit Fushimi–Inari shrine again, now that the weather had cleared up.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181280'})

    .Row
      .Content_Main.Content_Article
        :markdown
          A short ride later, and I arrived.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181282'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181286'})

    .Row
      .Content_Main.Content_Article
        :markdown
          The conditions couldn’t have been much more different as I headed through the shrine and toward the&nbsp;gates.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181320'})
    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1181325'] }, { count: 2, caption: '', photos: ['P1181328','P1181356'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          I continued up the path.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181367'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181363'})
    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Some doggo statues', 'photo': 'P1181392'})

    .Row
      .Content_Main.Content_Article
        :markdown
          It took a while for me to appreciate the scale of the park, as I continued to climb through the orange gates.

          The time and effort to construct this shrine seemed unfathomably massive to me, as I continued up.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1181402','P1181419'], 'right': ['P1181417','P1181432'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          Eventually, I reached a stunning lookout spot.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181439'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181455'})

    .Row
      .Content_Main.Content_Article
        :markdown
          According to the signs, I had hardly made a dent in the full path. I continued further up, and was treated to more spectacular views.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1181474'], 'right': ['P1181503'] })

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181513'})

    .Row
      .Content_Main.Content_Article
        :markdown
          With time ticking on, I decided to head back down, having planned a day trip out to Nara.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181516'})

    .Row
      .Content_Main.Content_Article
        :markdown
          On the way out, I made a detour to a coffee shop on my to–do list.

    = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, image: 'P1181527', title: 'Vermillion', address: '伏見区深草稲荷御前町85, Kyōto', price: '¥', menu: 'Coffee', rating: 5, link: 'https://foursquare.com/v/vermillion/52c64ec0498e699d9dbe1cf4' })

    .Row
      .Content_Main.Content_Article
        :markdown
          Vermillion was a cute, Melbourne–inspired espresso bar. It didn’t just look the part, the long black I had was well extracted and flavoursome.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1181527'] }, { count: 2, caption: '', photos: ['P1181526','P1181528'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          I headed back to Kyoto station and took a train towards Nara.

          Soon, I was riding through rural Kyoto landscapes.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181529'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Eventually the train I was riding on reached the end of its line, so I waited for another.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181534'})

    .Row
      .Content_Main.Content_Article
        :markdown
          Before long, I was whipping through rural Kyoto scenery (which seemed far more summery than the snowy weather I’d experienced the day before), on my way to Nara.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181536'})

    .Row
      .Content_Main.Content_Article
        :markdown
          In my mind, I was sort of relating the train ride from Kyoto to Nara to taking a train from Perth down to Mandurah or Rockingham, and was half expecting it to arrive in a small little town.

          But of course. That wasn’t the case _at all_.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'Still rather sprawling and built up...', 'photo': 'P1181553'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I wandered through Nara, heading in the direction of the deer park.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1181558'] }, { count: 2, caption: '', photos: ['P1181567','P1181572'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          I stopped in for a late lunch at Mellow café.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'mellow', title: 'Mellow Café', address: '小西町1-8 (axe unit 1F) Nara', price: '¥¥', menu: 'Yoshoku', rating: 4, time: '', link: 'https://foursquare.com/v/mellow-caf%C3%A9/4c4bb8715609c9b605267e91' })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a rather tasty pizza, I continued my journey east towards the deer park.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '10/10 name.', photos: ['P1181580'] }, { count: 1, caption: '', photos: ['P1181581'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          The scenery became increasingly rural as I reached the park.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181585'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'There they are!', 'photo': 'P1181589'})
    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181593'})
    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1181602','P1181610'], 'right': ['P1181600','P1181608'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          The deer were quietly inquisitive and very comfortable around humans.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1181646','P1181674'], 'right': ['P1181663','P1181639'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After feeding, patting and photographing many a deer, I headed onwards. The landscape was quaint and reminded me somehow of Australian outback.

    = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1181688'] }, { count: 2, caption: '', photos: ['P1181689','P1181695'] } ] } )

    .Row
      .Content_Main.Content_Article
        :markdown
          With sunset of my last day in Kyoto a few hours away, I decided it was time to start making my way back to Kyoto, to catch the sunset at Kyoto Tower.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'Bye lil’ fella 👋', 'photo': 'P1181697'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I headed back towatds the station...

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181703'})

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'So many interesting places I wish I had time to explore!', 'photo': 'P1181715'})

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1181718'], 'right': ['P1181722'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          After a brief wait at the station, I was back on my way to Kyoto...

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1181734'], 'right': ['P1181745'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          I arrived, and headed north from the station to Tokyo tower. There, I got a stunning view of the city as sunset approached.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1181750','P1181756','P1181762','P1181767','P1181775'], 'right': ['P1181754','P1181759','P1181763','P1181769','P1181777'] })

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181819'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I briefly popped back to my hotel, before setting off for dinner.

    = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181820'})

    .Row
      .Content_Main.Content_Article
        :markdown
          I popped down to the cube eatery and had a delicious steak omellete.

    = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'P1181823', title: 'Kitchen Gon', address: '京都駅ビル店 烏丸通塩小路下ル東塩小路町901 The CUBE 11F, Kyoto', price: '¥¥', menu: 'Bistro', rating: 4, time: '', link: 'https://foursquare.com/v/%E3%82%AD%E3%83%83%E3%83%81%E3%83%B3%E3%82%B4%E3%83%B3-kitchen-gon-%E4%BA%AC%E9%83%BD%E9%A7%85%E3%83%93%E3%83%AB%E5%BA%97/5580eeac498e2d654672d339' })

    .Row
      .Content_Main.Content_Article
        :markdown
          I walked off the very filling meal by wandering around the adjacent shopping center, taking in the spectacular sights.

    = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1181827','P1181853','P1181873'], 'right': ['P1181847','P1181859','P1181874'] })

    .Row
      .Content_Main.Content_Article
        :markdown
          A little while later, I turned in for the night.

    = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1181878'})


  = partial("photoessays/2017/kyoto/footer", locals: {collection: current_page.data.collection})

