---
  title: Arriving in Kyoto
  slug: '2017/kyoto/jan-15'
  subtitle: Snow, trains and shrines
  body_classes: page-photoessays
  meta_description: Snow, trains and shrines
  collection:
    prev: jan-15
    current: jan-15
    next: jan-16
  meta_keywords:
  ogp:
    og:
      title: Arriving in Kyoto
      description: Snow, trains and shrines
      image:
        '': http://brett.cool/images/photoessays/2017/kyoto/jan-15/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Arriving in Kyoto
      description: Snow, trains and shrines
      image:
        '': http://brett.cool/images/photoessays/2017/kyoto/jan-15/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/2017/kyoto/subheader", locals: {collection: current_page.data.collection})

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Content#story

  .Content_row
    .Content_main
      .Article_content
        :markdown
          The shinkansen continued its speedy approach towards Kyoto, and as it did so, the winter weather seemed to intensify.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1150103','P1150114'], 'right': ['P1150111','P1150122'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          As the shinkansen continued south west, the sky turned grey and the snow came in.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1150126'], 'right': ['P1150132'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          The logistics of carrying my luggage in heavy snow started to dawn on me as the conditions outside got&nbsp;wilder.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1150139','P1150148'], 'right': ['P1150146','P1150151'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          And then — quite as suddenly as the wild weather appeared — blue skies returned.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1150153'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          The weather continued to improve as I got closer to&nbsp;Kyoto.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1150154'], 'right': ['P1150157'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I arrived at Kyoto station and set off.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1150163'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I exited the station and headed in the direction of my hotel, which was thankfully not too far from the station.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1150180'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          As I headed for the hotel, it began to snow. Thankfully, this was far more manageable than the snow I’d experienced in Yuzawa.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: 'It did start to pick up, but crucially the ground was not slushy... yet.', 'photo': 'P1150188'})

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1150195'], 'right': ['P1150199'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I reached my hotel and checked in.

  = partial("photoessays/components/place_accomodation", locals: {slug: current_page.data.slug, image: 'apa', title: 'APA Hotel Kyoto Eki Horikawadori',  address: '〒600-8236 Kyoto Prefecture, Kyoto', 'checkin': '15 Jan', 'checkout': '19 Jan', rating: 2 })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          After dropping my bags, I set off again. As I walked out of the hotel, a coffee shop across the road caught my eyes with its specialty coffee signifiers...

          I was staying across the road from #{link_to 'Kurasu', 'http://www.kurasu.kyoto/', target:'_blank'} — a place I’d purchased coffee equipment from all the way back in Perth.

  = partial("photoessays/components/place_cafe", locals: {slug: current_page.data.slug, image: 'kurasu', title: 'Kurasu', address: '下京区東油小路町552 (油小路通塩小路下る) Kyoto', price: '¥', menu: 'Coffee', rating: 5, link: 'https://foursquare.com/v/kurasu/57abc6d6498ef9d8938d95cf' })

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'What were the odds?', 'photo': 'P1150206'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I grabbed a takeaway filter and set back off for the train station, intending to visit Fushimi–Inari shrine.

          Snow fell gently as I waited for a train.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1150231'], 'right': ['P1150247'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Soon a train arrived, and I was on my way... Well, not for long. Due to the snow, our train had to stop for a good 20 minutes.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: 'Good photo ops though.', 'photo': 'P1150257'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Eventually the train began to move again, with sunset fast approaching now. I alighted and headed for the shrine.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1150268'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Snow was falling thick and fast now. Nevertheless, many people — myself included — were keen to see the shrine regardless.

  = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1150284'] } ] } )

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Throwing caution to the wind, I was indiscrimnately shooting while my camera and I got covered in snow.

  = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 1, caption: '', photos: ['P1150309'] }, { count: 1, caption: '', photos: ['P1150329'] }, { count: 2, caption: '', photos: ['P1150289','P1150301'] } ] } )

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I continued up the trail as sunset approached.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1150334','P1150369','P1150389','P1150397','P1150420'], 'right': ['P1150354','P1150379','P1150390','P1150408','P1150424'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Night fell, and it was time to head back.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1150464'], 'right': ['P1150467'] })

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1150483'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          I headed back to the train station and made my way back to Kyoto.

  = partial("photoessays/components/photo_two_column", locals: {slug: current_page.data.slug, 'left': ['P1150565','P1150574'], 'right': ['P1150569','P1150577'] })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Having worked up quite an appetite, I traipsed to a highly rated ramen place.

  = partial("photoessays/components/place_restaurant", locals: {slug: current_page.data.slug, image: 'daiichi', title: 'Daiichi Asahi', address: '下京区東塩小路向畑町845 Kyoto, Kyōto', price: '¥¥', menu: 'Ramen', rating: 5, time: '', link: 'https://foursquare.com/v/%E6%9C%AC%E5%AE%B6-%E7%AC%AC%E4%B8%80%E6%97%AD-%E3%81%9F%E3%81%8B%E3%81%B0%E3%81%97%E6%9C%AC%E5%BA%97/4b6cd3dcf964a5206a572ce3' })

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1150584'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          One delicious bowl of ramen later, I traipsed through the ice and snow back to the hotel.

  = partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': 'P1150586'})

.Content
  .PhotoRow
    .PhotoEssayFooterNavigation
      = link_to "/photoessays/2017/tokyo/#{current_page.data.collection.prev}", class: 'PhotoEssay_nav PhotoEssay_nav--previous', style: "background-image: url('/images/photoessays/2017/tokyo/#{current_page.data.collection.prev}/banner.jpg')" do
        .PhotoEssay_nav_label Previous
        - data.tokyo.dates.each do | date |
          - if date.slug === current_page.data.collection.prev
            .PhotoEssay_nav_title= date.title
            .PhotoEssay_nav_date= date.date.strftime("%B %-d")
      = link_to "/photoessays/2017/kyoto/#{current_page.data.collection.next}", class: 'PhotoEssay_nav PhotoEssay_nav--next', style: "background-image: url('/images/photoessays/2017/kyoto/#{current_page.data.collection.next}/banner.jpg')" do
        .PhotoEssay_nav_label Next
        - data.kyoto.dates.each do | date |
          - if date.slug === current_page.data.collection.next
            .PhotoEssay_nav_title= date.title
            .PhotoEssay_nav_date= date.date.strftime("%B %-d")

