.PhotoRow.Component
  .PhotoCol_alpha
    - block.images.values_at(*block.images.each_index.select(&:even?)).each do | photo |
      = image_tag "photoessays/#{slug}/#{photo}.jpg"
  .PhotoCol_beta
    - block.images.values_at(*block.images.each_index.select(&:odd?)).each do | photo |
      = image_tag "photoessays/#{slug}/#{photo}.jpg"
