---
title: Setting Up A New Mac
meta_description: In the leadup to receiving my new Macbook Pro, I created a checklist of files must-have apps to install...
date: 2016-12-04 00:01 UTC
author: Brett Jones
author_slug: brett
body_classes: page-blog
---

- @og_image_override = 'blog/2016-12-04-setting-up-a-new-mac'

%figure.pb3
  = image_tag 'blog/2016-12-04-setting-up-a-new-mac/hero.jpg', alt: '13” Macbook Pro with Touch Bar'
  %figcaption They never stay dust–free for long...

.Row
  .Content_Main.Content_Article
    :markdown
      Despite living in the Mac ecosystem for some time now, I haven’t started afresh with macOS in some time.

      Unlike with Windows—which I’d frequently nuke to get that minty fresh feeling—the only time I really feel a prompt to start afresh is with the arrival of a new machine.

      In the leadup to it arriving, I created a checklist of files to backup and must-have apps to install. As I collated it, I figured it might make for an interesting reference. So here we are.

      ## Homebrew
      #{link_to 'Homebrew', 'http://brew.sh', target: '_blank'} is a fantastic command-line utility for fetching and fetching and installing tools via the command line, using brew. Paired with #{link_to 'Cask', 'https://caskroom.github.io/', target: '_blank'}, you can install a bunch of things via the command line. Super handy.

      ## Sketch 3
%figure.pb2
  = image_tag 'blog/2016-12-04-setting-up-a-new-mac/sketch.jpg', alt: 'Sketch'

.Row
  .Content_Main.Content_Article
    :markdown
      #{link_to 'Sketch', 'https://www.sketchapp.com/', target: '_blank'} is really a no-brainer for me at this point. I’d been dabbling with it since version 2, but never made the jump full-time until Sketch 3.

      Sketch excels with UI design. It’s been purpose-built for this and once you learn the workflows many other apps feel slow. If you need anything outside that niche purpose—such as raster image editing or more advanced vector tools—you’re best suited to complimenting Sketch with another application.

      ## Affinity Designer
%figure.pb2
  = image_tag 'blog/2016-12-04-setting-up-a-new-mac/affinitydesigner.jpg', alt: 'Affinity Designer'
.Row
  .Content_Main.Content_Article
    :markdown
      For more involved vector graphic work I keep #{link_to 'Affinity Designer', 'https://affinity.serif.com/en-us/designer/', target: '_blank'} handy.

      It has some more advanced vector tools available, and some pretty nifty responsive design features too (Sketch’s new group and symbol resizing behaviours offer comparable functionality).

      It’s also now available on Windows.

      ## Affinity Photo
      For my lightwegiht photo-editing needs, #{link_to 'Affinity Photo', 'https://affinity.serif.com/en-us/photo/', target: '_blank'} is an excellent, lightweight, and zippy alternative to Adobe Photoshop.

      ## Pixelmator
%figure.pb2
  = image_tag 'blog/2016-12-04-setting-up-a-new-mac/pixelmator.jpg', alt: 'Pixelmator'
.Row
  .Content_Main.Content_Article
    :markdown
      A similar take on raster image editing to Affinity Photo, #{link_to 'Pixelmator', 'http://www.pixelmator.com/mac/', target: '_blank'} is an efficient app which takes full advantage of macOS frameworks and graphic technologies.

      It feels slightly more analogous to Photoshop than Affinity Photo, so for quick comedy shoops I might turn to Photoshop for, Pixelmator now fills that niche. The iPhone/iPad app is surprisingly robust, and you can open documents created on the Mac with it.

      ## Sublime Text 3
%figure.pb2
  = image_tag 'blog/2016-12-04-setting-up-a-new-mac/sublime.jpg', alt: 'Sublime Text'
.Row
  .Content_Main.Content_Article
    :markdown
      I’ve been a Sublime Text user ever since the first version was Windows-exclusive, and it migrated to Linux and Mac with version 2 around the same time I moved to macOS.

      There are other text-editors out there, but none of them feel as snappy as Sublime Text to me. All seem comparable feature-wise, so it feels like switching to anything other than emacs or vim would be a sidestep, rather than a clear step up.

      Sublime paired with the #{link_to 'ayu theme', 'https://github.com/dempfi/ayu', target: '_blank'} might be my dream text editor UI.

      ## Unclutter
%figure.pb2
  = image_tag 'blog/2016-12-04-setting-up-a-new-mac/unclutter.jpg', alt: 'Unclutter'
.Row
  .Content_Main.Content_Article
    :markdown
      An unassuming utility, #{link_to 'Unclutter', 'https://unclutterapp.com/', target: '_blank'} adds a drawer to the menu bar with panes for clipboard management, files, and notes. These folders can be synced over dropbox. I tend to stash files here to clean up my desktop.

      ## Post Haste
      #{link_to 'Post Haste', 'https://www.digitalrebellion.com/posthaste/', target: '_blank'} is an excellent utility for creating reusable folder templates.

      I store folders with template files for different types of projects (Design, Video Editing, Motion Graphics), and use Post Haste to run through and create the folder structure for me.

      ## Pixel Winch
%figure.pb2
  = image_tag 'blog/2016-12-04-setting-up-a-new-mac/pixelwinch.jpg', alt: 'Pixelwinch'
.Row
  .Content_Main.Content_Article
    :markdown
      Saving me trips to Photoshop or another raster image editor to check some pixels, Pixel Winch is a handy menu bar item which allows you to bind a screenshot-like shortcut (I use ⌃⇧⌘2), and immediately shows you a loupe with all the measurement tools you need.

      ## IconJar
      #{link_to 'IconJar', 'http://geticonjar.com/', target: '_blank'} makes sorting through my library of icons far easier than using the Finder.

      ## OmniFocus
      To-Do list of choice is #{link_to 'OmniFocus', 'https://www.omnigroup.com/omnifocus', target: '_blank'}. Only using a fraction of its power, and keeping it maintained requires more effort than I always have time for.

      Useful for creating longer, distinct to-do lists (such as procedures for migrating to my new Mac)

      ## Dropbox
      Almost a no-brainer at this point. #{link_to 'Dropbox', 'http://www.dropbox.com/', target: '_blank'} has become one source for backing up all my files and the necessary glue for a bunch of application syncing, including 1Password... Perhaps I’m a little too reliant on it, but it does what it does really well.

      ## 1Password
      Password management is always a bit of a pain. #{link_to '1Password', 'https://1password.com/', target: '_blank'} syncs seamlessly across iOS, Mac, and it even has Windows clients. Its integration with Touch ID on the new Macbook Pros with Touch Bar is most welcome, making it super convenient to log into all my accounts.

      ## Divvy
      #{link_to 'Divvy', 'http://mizage.com/divvy/', target: '_blank'} is just one of many window management apps available on OS X. I have shortcuts for snapping windows to the left and right, maximising the window, and centering the window.

      ## Alfred 3
      Supercharged Spotlight. #{link_to 'Alfred', 'https://www.alfredapp.com/', target: '_blank'} has a wealth of customisation and power user features I hardly scratch the surface of. The appearance customisation is appreciated, as is the Worfklows feature that allows you to define custom workflows with a Node-based editor.

      ## TextExpander 5
      Sherlocked a little by Alfred’s snippets feature, I still use #{link_to 'TextExpander', 'https://smilesoftware.com/textexpander', target: '_blank'} as my main snippet tool. There’s a wealth of features and variables, allowing for semi-canned respponses and more. Like Alfred, I don’t make as much use of it as I should, but it is handy.

      Designer Elliot Jay Stocks #{link_to 'has an excellent article', 'http://www.elliotjaystocks.com/blog/using-textexpander-to-conquer-email/', target:'_blank'} on some of the powerful ways TextExpander can be used to save time.

      ## Kaleidoscope
      My difftool of choice. #{link_to 'Kaleidoscope', 'http://www.kaleidoscopeapp.com/', target: '_blank'} looks very nice and helps me visualise differences between commits.

      ## Papparazi
      A fantastic way to snap a whole page, #{link_to 'Papparazi', 'https://derailer.org/paparazzi/', target: '_blank'} also features a bunch of export options, including pdf, png, and svg. Exports in PDF or SVG can actually be imported into Sketch, albiet a little kludgily.
