---
title: Being Open
date: 2016-11-05 00:01 UTC
author: Brett Jones
author_slug: brett
body_classes: page-blog
ogp:
  og:
    title: 'Being Open'
    description: 'After the culmination of eighteen months of hard work, the inaugural Mixin conference was held last week. A week later, I’m still reeling from the whirlwind experience…'
    image:
      '': http://brett.cool/images/blog/2016-11-05-be-open/og.jpg
      type: image/jpg
      width: 560
      height: 300
    locale:
      '': en_us
  twitter:
    card: 'summary_large_image'
    label1: 'Reading Time 🕖'
    data1: 'About 4 minutes'
    label2: 'Published 📅'
    data2: 'November 5, 2016'
  fb:
    title: 'Being Open'
    description: 'After the culmination of eighteen months of hard work, the inaugural Mixin conference was held last week. A week later, I’m still reeling from the whirlwind experience…'
    image:
      '': http://brett.cool/images/blog/2016-11-05-be-open/fb.jpg
      type: image/jpg
      width: 600
      height: 315
---

.Fullbleed_image.pb2= image_tag 'blog/2016-11-05-be-open/hero.jpg', alt: 'at Mixin 2016', style: 'width: 100%'

.Row
  .Content_Main.Content_Article
    :markdown
      After the culmination of eighteen months of hard work, the inaugural #{link_to 'Mixin Conference', 'http://mixinconf.com', target: '_blank'} was held last week. A week later, I’m still reeling from the whirlwind experience.

      I feel so incredibly lucky for all the amazing people I’ve met and worked with while organising&nbsp;Mixin.

      The incredible team — Kylie, Patima, Mandy, Phuong, Josh, Meagan — all so talented and hard working. Pulling off Mixin 2016 with them has been the highlight of my career so far.

      The incredible speakers, who brought the energy and spirit to Mixin. Andy, Una, Alice, Joel, Jina, Mike and Espen — thank you for visiting and sharing your wisdom and experience, I know you all truly made Mixin 2016 unforgettable for us organisers.

      And off course, our wonderful audience. Thank you all so very much for making Mixin a reality.

      In the lead up, #{link_to 'I mused about', 'http://mixinconf.com/blog/2016/09/01/speakers-us-and-most-of-all-you/', target: '_blank'} the need for a conference like Mixin in Perth. It was a lot of hard work, but the reception from you made it so very worthwhile, and validates the need for a conference of this calibre in Perth.

      Whatever the future holds, Perth deserves more conferences like Mixin.

.PhotoRow
  .PhotoCol_alpha= image_tag 'blog/2016-11-05-be-open/kylie_and_josh.jpg', alt: 'Be Open'
  .PhotoCol_beta
    = image_tag 'blog/2016-11-05-be-open/crowd.jpg', alt: 'Crowd'
    = image_tag 'blog/2016-11-05-be-open/organisers.jpg', alt: 'The Mixin team and crowd'

.Row
  .Content_Main.Content_Article
    :markdown
      It wasn’t until Mixin was over and I found myself full to the brim with motivation and inspiration that I recognised that I had been in a rut — and I hadn’t even realised — until Mixin.

      ## Saying ‘yes’

      It’s hard for me to believe I ever agreed to take part in Mixin. It was the inspiration from conference experiences at #{link_to 'Web Directions', 'https://www.webdirections.org/events/', target:'_blank'} and #{link_to 'CSSConf', 'http://2016.cssconf.com.au/', target:'_blank'} that encouraged us to take the leap of faith necessary to organise Mixin, and I don’t think I ever actually stopped to consider *all* the risks.

      This is unusual for me — I’ve always been a little reserved putting myself out there. But seeing what happens when you’re surrounded by such talented and wonderful people, and what can be accomplished together. The reward made the risks completely worthwhile.

      ## Being open

      I know imposter syndrome and anxiety is rampant in our industry.

      As long as I can remember, I’ve always been very nervous about putting my work and ideas out there — that critical voice in my head making me fearful about what others will say. But the more I reflect on my actual experiences in the industry, the more I realise how irrational and limiting this fear is.

      During her awesome talk on the joys of image optimisation, #{link_to 'Una', 'https://twitter.com/una', target: '_blank'} turned her attention to our very own #{link_to 'Mixin website', 'http://mixinconf.com/', target: '_blank'} — which I had a bit of a hand in building — and proceeded to dissect it on stage and show the ways it could be improved.

      We knew this was coming. Una asked us for a copy of the website, and we (especially me) nervously wondered what kind of scrutiny it would come under during her talk.

      But when our site came up on screen in front of 250 people, and Una began to run through the myriad of ways to improve it, I couldn’t stop smiling.

      *This* was what I was nervous about? *This* was why I didn’t like to put my work and myself out there?

      ## This was wonderful

      Putting yourself out there can feel risky, but it isn’t. Nobody I’ve met is harsher than we are on ourselves, and we can only learn and grow by sharing what we know with others.

      Everyone I’ve personally met in the industry is so positive. We can take pride in our work while recognising there’s always room to improve, and being open to learning. To that end, the enthusiasm and tone of Una’s talk was pitch perfect for me!

      It’s important to remember, as #{link_to 'Alice', 'https://twitter.com/byalicelee', target: '_blank'} reminded us, that everyone’s at a different place in their careers, we’ve just got to be aware of pencil mileage. Embracing what you know, but also what you don’t, is key to learning.

      Or, as fellow organiser Mandy Michael put it — #{link_to 'the only bad question is the one you didn’t ask', 'http://mandymichael.com/articles/the-only-bad-question-is-the-one-you-didnt-ask.html', target: '_blank'}.

      ## Going forward

      The Monday following Mixin, Patima asked if I would be able to speak that Wednesday at #{link_to 'Port80 Perth', 'https://www.meetup.com/Port80-Perth/events/235232980/', target: '_blank'}. Prior to Mixin, I probably would have declined, but still riding that high from Mixin, I jumped at the chance, and later found myself awake at 4am that Wednesday eagerly preparing my slides. I’d accidentally found what kept me awake until the early hours of the morning, something Joel suggested people do during his talk on Full Stack Anxiety.

      And I can’t wait to do it again.

      I’m committed to sharing what I know. #{link_to 'The source code for brett.cool is public', 'https://github.com/BrettJay/brett.cool', target: '_blank'}. My kludgey Sass and my hacky haml is visible for everyone to scrutinise, pull apart, learn from, suggest improvements to, steal, criticise.

      I welcome it all. #{link_to 'For reals', 'https://github.com/BrettJay/brett.cool/issues/new', target:'_blank'}. Let’s learn together. ✨
