---
title: The Year So Far
date: 2017-06-18 00:01 UTC
author: Brett Jones
author_slug: brett
body_classes: page-blog
ogp:
  og:
    title: The Year So Far
    description: 'We’re around halfway through 2017 already. I can’t believe I’m here now, trying to reflect on the year so far.'
    image:
      '': http://brett.cool/images/blog/2017-06-18-the-year-so-far/og.jpg
      type: image/jpg
      width: 560
      height: 300
    locale:
      '': en_us
  twitter:
    card: 'summary_large_image'
    label1: 'Reading Time 🕖'
    data1: 'About 4 minutes'
    label2: 'Published 📅'
    data2: 'June 18, 2017'
  fb:
    title: The Year So Far
    description: 'We’re around halfway through 2017 already. I can’t believe I’m here now, trying to reflect on the year so far.'
    image:
      '': http://brett.cool/images/blog/2017-06-18-the-year-so-far/fb.jpg
      type: image/jpg
      width: 600
      height: 315
---

.Content_row
  .Content_main
    .Article_content
      :markdown
        We’re around halfway through 2017 already. I can’t believe I’m here now, trying to reflect on the year so far.

        Nevertheless, here’s what I’ve been up to in 2017 so far...

        READMORE

        ## Mixin
        At the start of the year, myself and the other Mixin organisers decided that we would not run Mixin in 2017. We announced this #{link_to 'six months after', 'http://mixinconf.com/blog/2017/04/28/a-look-back/', target: '_blank'} the inagural conference.

        Helping to organise Mixin was one of the most rewarding experiences, but it was also a monumental effort. We felt we were unable to commit to a yearly schedule, and want to take the time to make the next conference as good.

        ## Traveling to Tokyo &&nbsp;Kyoto

= partial("photoessays/components/photo_two_column", locals: {slug: '2017/tokyo/jan-11', 'left': ['P1111562'], 'right': ['P1111769'] })

.Content_row
  .Content_main
    .Article_content
      :markdown
        When ever I say 2017 feels like it’s gone really fast, I need to remind myself it was only in January that I travelled to #{link_to 'Tokyo', '/photoessays/2017/tokyo'} and #{link_to 'Kyoto', '/photoessays/2017/kyoto'}. Because in some ways, it feels like a lifetime ago.

        Traveling to Japan was such an incredible experience for me. I know I need to return — the only question is when.

        ## Speaking around Australia

= partial("photoessays/components/photo_full", locals: {slug: '2017/localhost/june-09', caption: 'Localhost Deployment in Brisbane, June 9', 'photo': 'brett-bne'})

.Content_row
  .Content_main
    .Article_content
      :markdown
        Just over a week ago, the culmination of a few months of talk preparation and planning came to fruition in the form of the #{link_to 'Localhost Deployment tour', '/photoessays/2017/localhost'}.

        Organised by the #{link_to 'Localhost Perth team', 'http://localhost.events', target: '_blank'}  — Patima, Teegan, DT and Corey — the Localhost Deployment tour consisted of four speakers from four cities, speaking in four cities, over four days.

      = image_tag 'blog/2017-06-18-the-year-so-far/deployment.png', alt: 'Localhost Deployment', style: 'max-width: 512px; width: 100%;'

      :markdown
        I was honoured, through the #{link_to 'call for speakers process', 'https://www.localhost.events/call-for-speakers/', target:'_blank'}, to be selected as the Perth speaker, along side Glen Maddern from Melbourne, Simon Wright from Sydney (and Perth, once upon a time!), and Anna Harrison from Brisbane.

        Since April, I’ve been working on a talk — #{link_to 'Less Glamorous Elements of Design', '/talk/less-glamorous-elements-of-design'} — which I debuted at the Localhost Deployment tour.

        To my delight, the talk was really well received. I still need to work on delivery, but I was very happy with how the talks went, once the technical difficulties were ironed&nbsp;out!

        It was a very valuable experience, being able to give a talk four nights in a row, allowing the speakers to get feedback and iterate on the contents and delivery much quicker than ordinarily possible.

        I intend to focus on some lessons learned from this speaker gauntlet in a future blog post. In the mean time, a big thank you to Patima, Teegan, DT, Corey, Ryan, and the other volunteers who made the event possible!

        ## Personal Feels
        I wasn’t in a great place at the end of 2016, and the beginning of 2017. I’m a pretty private person, and won’t go into specifics, but early this year some pretty big things happened in my personal life, and I learned above all to trust my own feels.

        Only a few months later, and I couldn’t be happier. I’ve met someone truly wonderful, and I wish I’d listened to myself sooner. I have a hard time with expectations — particularly the prospect of ‘failing’ someone else. But I realised that I can’t sacrifice my own feelings in order to feel like I’m not failing other’s expectations of me.

        ## Goals
        My list of side–projects, things to learn, and books to read, has continued to grow. Unfortunately, I don’t feel like I’ve made much of a dent in any of them. That said, there’s a couple of goals I do hope to achieve, which I’ll check in with at the end of 2017.

        **☐ Launch Community Focused Side Project** — I’ve been on and off mulling over and working on a side project, with the goal of helping bring different parts of our community together, but not through traditional meetups or conferences. I hope to have more to say about it soon.

        **☐ Use Gatsby.js in an upcoming application** — I’m all about that static site generator life. And I have a perfect opportunity to use it... If it fits the requirements.

        **☐ Make some progress on my reading list** — I tried doing the thing where you drink a coffee and read a book today. It was quite nice, I want to find time to do that again, with enough frequency to get my to–read list a little more under control.

        **☐ Speak at meetups more** — I have a few more talks in mind. I’d also really like an opportunity to polish up and redo my talk presented at Localhost last year about Static Site generators.

        ## That’s all for now

        2017, you’re going by so fast. There’s a whole lot more I hope to accomplish before the year is through!
