---
  title: Blog
  body_classes: blog
  meta_description: Brett Jones is a designer and front end developer from Perth, WA.
  meta_keywords:
  ogp:
    og:
      title: Blog
      description: Occasional blog posts
      image:
        '': http://brett.cool/images/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: Blog
      description: Occasional blog posts
      image:
        '': http://brett.cool/images/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

.Page
  .Content
    - page_articles.each_with_index do |article, i|
      .Row.pb3
        .Content_Main
          %h2.h1_scale= link_to article.title, article
          .Article_metadata
            %span.metadata_date= Date.parse(article.date.to_s).strftime('%b %e, %Y')
            •
            %span.metadata_reading_time #{time_label article.body}
      = article.summary
      .Row.pb4.pt2
        .Content_Main.Content_Article
          = link_to article, class: 'read-more' do
            Continue Reading
