---
  title: Brett😎
  body_classes: home
  meta_description: Brett Jones is a designer and front end developer from Perth, WA.
  meta_keywords:
  ogp:
    og:
      title: 'Brett😎'
      description: 'Brett Jones is a designer and front end developer from Perth, WA.'
      image:
        '': http://brett.cool/images/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: 'Brett😎'
      description: 'Brett Jones is a designer and front end developer from Perth, WA.'
      image:
        '': http://brett.cool/images/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

.Page
  .Content
    / .Content_row
    .Row
      .Content_Headline
        %h1
          Hello, I’m Brett 👋<br/>
          a designer at #{link_to "Pin&nbsp;Payments", 'https://pinpayments.com', target: '_blank', class: 'il-pin'},<br/>
          and a #{link_to "Mixin", 'http://mixinconf.com', target: '_blank', class: 'il-mixin'}&nbsp;organiser.
    .Row.pt3.pb3
      .Content_Full
        = image_tag 'home/brett.jpg', alt: 'Brett at CSSConf 2015', style: 'width: 100%;'
    .Row
      .Content_Main
        %p I love coffee, travel, photography, and design grids of the exploded&nbsp;variety. I produce #{link_to 'photoessays', '/photoessays'} and #{link_to 'speak', '/talk'}—very infrequently.

        %h2.h3_scale.pt3.pb1 Elsewhere on the internet
        %dl.SocialLinks
          %dt Instagram
          %dd= link_to '@brt.j', 'https://www.instagram.com/brt.j', target: '_blank'
          %dt Twitter
          %dd= link_to '@brett_jay', 'https://www.twitter.com/brett_jay', target: '_blank'
          %dt Dribbble
          %dd= link_to '@brettjay', 'https://dribbble.com/brettjay', target: '_blank'
          %dt Github
          %dd= link_to '@brettjay', 'https://www.github.com/brettjay', target: '_blank'
