---
  title: Brett
  body_classes: home
  meta_description: Brett Jones is a designer and front end developer from Perth, WA.
  meta_keywords:
---


.Content
  .Content_row= image_tag 'home/brett.jpg', alt: 'Brett at CSSConf 2015', class: 'hero_image'

  .Content_row
    .Content_main
      %p.tagline Brett is a designer and developer at #{link_to "Pin&nbsp;Payments", 'https://pin.net.au', target: '_blank'}, and a co–organiser of #{link_to "Mixin", 'http://mixinconf.com', target: '_blank'}. He is obsessed with coffee, grids of the exploded variety, and drawing rectangles in a variety of&nbsp;fidelities.
      %p.tagline He tweets from #{link_to "@brett_jay", 'https://twitter.com/brett_jay', target: '_blank'} and shares photos #{link_to "@brt.j", 'https://www.instagram.com/brt.j/', target: '_blank'}.
      / %dl
      /   %dt Twitter
      /   %dd= link_to '@brett_jay', 'https://twitter.com/brett_jay', target: '_blank'
      /   %dt Instagram
      /   %dd= link_to '@brt.j', 'https://www.instagram.com/brt.j/', target: '_blank'
