---
  title: Brett😎
  body_classes: home
  meta_description: Brett Jones is a designer and front end developer from Perth, WA.
  meta_keywords: Design, Development, Photoessays
---

.Page
  .Content
    .Row
      .Content_Headline
        %h1
          Hello, I’m Brett 👋<br/>
          a designer at #{link_to "Pin&nbsp;Payments", 'https://pinpayments.com', target: '_blank', class: 'il-pin'},<br/>
          and a #{link_to "Mixin", 'http://mixinconf.com', target: '_blank', class: 'il-mixin'}&nbsp;organiser.
    .Row.pt3.pb3
      .Content_Full
        = image_tag 'home/brett.jpg', alt: 'Brett at CSSConf 2015', style: 'width: 100%;'
    .Row
      .Content_Main
        :markdown
          I love coffee, travel, photography, and design grids of the exploded&nbsp;variety. I produce [photoessays](/photoessays) and [speak]('/talk') (very infrequently).

          You can find me elsewhere on the internet, where #{link_to 'I quantify my life', 'http://life.brett.cool', target: '_blank'}, #{link_to 'share photos', 'https://www.instagram.com/brt.j', target: '_blank'}, #{link_to 'commit code', 'https://www.github.com/brettjay', target: '_blank'}, and #{link_to 'tweet inane things', 'https://www.twitter.com/brett_jay', target: '_blank'}.
