---
  title: Brett😎
  body_classes: home
  meta_description: Brett Jones is a designer and front end developer from Perth, WA.
  meta_keywords:
  ogp:
    og:
      title: 'Brett😎'
      description: 'Brett Jones is a designer and front end developer from Perth, WA.'
      image:
        '': http://brett.cool/images/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: 'Brett😎'
      description: 'Brett Jones is a designer and front end developer from Perth, WA.'
      image:
        '': http://brett.cool/images/og/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---


.Content
  .Content_row= image_tag 'home/brett.jpg', alt: 'Brett at CSSConf 2015', class: 'hero_image'

  .Content_row
    .Content_main
      %p.tagline I’m a designer and developer at #{link_to "Pin&nbsp;Payments", 'https://pin.net.au', target: '_blank'}, and a co–organiser of #{link_to "Mixin", 'http://mixinconf.com', target: '_blank'}. I love coffee, photography, and design grids of the exploded&nbsp;variety.
      %p.tagline I produce #{link_to 'travel photoessays', '/photoessays'}, tweet #{link_to "@brett_jay", 'https://twitter.com/brett_jay', target: '_blank'}, share photos #{link_to "@brt.j", 'https://www.instagram.com/brt.j/', target: '_blank'}, and track my life with #{link_to 'Gyroscope', 'http://life.brett.cool', target: '_blank'}.
