---
  title: Projects
  body_classes: 
  meta_description: Stuff I’m working on
  meta_keywords:
---

.Page
  .Content
    .Row.pb3
      .Content_Headline
        %h1 Projects
    
    .Content_Main
      - data.projects.each do | project |
        = link_to(project.link.url, class: 'ProjectItem', target: ('_blank' if project.link.type == 'external')) do    
          .Project.pt3.pb3{class: "Project--#{project.status}"}
            %h2.h3_scale
              = project.name
              %span.Project_duration #{project.dates.from} – #{project.dates.to}
            :markdown
              #{project.description}
