---
slug: '2019/japan/feb-06'
body_classes: page-photoessays
---

- essay = data.photo_essays['2019'].japan.find { | slug, date | slug == '2019-02-06' }

- @dynamic_title = essay[1].title
- @dynamic_subtitle = essay[1].subtitle

= partial("photoessays/blocks/subheader_navigation", locals: { essay: essay, collection: essay[1].collection, collection_title: 'Japan', collection_path: { year: '2019', folder: 'japan' }})
= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: essay[1].title, subtitle: essay[1].subtitle, trip: ''})

.Page
  .Content#story
    - essay[1].content.each do | story_block |
      - story_block.each do | template, block |
        = partial("photoessays/blocks/#{template}", locals: {slug: current_page.data.slug, block: block })

  = partial("photoessays/blocks/footer_navigation", locals: { collection: essay[1].collection })
