---
  title: CSSConf AU 2016
  slug: '2016/cssconfau'
  subtitle: Attending the third annual CSSConf Australia.
  body_classes: page-photoessays
  meta_description: Attending the third annual CSSConf Australia.
  meta_keywords:
  trip:
    transport: plane
    location: australia
    weather: sun
    dates:
      from: 2016-11-29
      to: 2016-12-02
  ogp:
    og:
      title: CSSConf AU
      description: Attending the third annual CSSConf Australia.
      image:
        '': http://brett.cool/images/photoessays/2016/cssconfau/og.jpg
        type: image/jpg
        width: 560
        height: 300
    fb:
      title: CSSConf AU
      description: Attending the third annual CSSConf Australia.
      image:
        '': http://brett.cool/images/photoessays/2016/cssconfau/fb.jpg
        type: image/jpg
        width: 600
        height: 315
---

= partial("photoessays/components/banner", locals: {slug: current_page.data.slug, title: current_page.data.title, subtitle: current_page.data.subtitle, trip: current_page.data.trip})

.Content#story
  .Content_row
    .Content_main
      .Article_content
        :markdown
          *As per CSSConf AU’s #{link_to 'photo policy', 'http://2016.cssconf.com.au/codeofconduct/', target: '_blank'}, I tried to be respectful and only photograph individuals who signalled by their lanyards they were okay with being photographed.*

          *If you’re in a photo and would like it removed, #{link_to 'please do let me know', 'https://github.com/BrettJay/brett.cool/issues/new', target: '_blank'}.*

          ---

          Barely a month after #{link_to 'Mixin', '/photoessays/mixin-2016'}, it was time to jet off to one of the main sources of inspiration for our conference.

          I arrived at the still rather-new Virgin Australia T1 terminal and checked in for my flight.

  = partial("photoessays/components/flight", locals: {slug: current_page.data.slug, image: '29/flight_va682', title: 'VA682', gate: '48', seat: '25A', airline: 'Virgin Australia Airlines', depart: '9:45am', arrive: '4:50pm', rating: '' })

  = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 2, caption: '', photos: ['29/terminal','29/PB290009'] }, { count: 3, caption: 'Plenty of Plane Hax... That dongle struggle is real tho', photos: ['29/IMG_2655','29/PB290018','29/IMG_2651'] } ] } )

  .Content_row
    .Content_main
      .Article_content
        :markdown
          One plane-hack filled flight later, I landed in Melbourne. I departed the airport and made my way into the city to my hotel.

  = partial("photoessays/components/place_accomodation", locals: {slug: current_page.data.slug, image: '29/place_somerset', title: 'Somerset on Elizabeth', address: '250 Elizabeth St, Melbourne VIC', checkin: '29 Nov', checkout: '2 Dec', rating: 4 })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          Now around 5:30pm Melbourne time, I had barely any time to settle in before the pre-conference social event in Collingwood.

          I dropped my bags, picked up #{link_to 'yet another', 'https://twitter.com/Brett_Jay/status/803474452793040896', target: '_blank'} Myki, and set off for Stomping Grounds in Collingwood, via the South Morang line.

  = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, image: '29/place_stompingground', title: 'Stomping Ground', address: '100 Gipps St, Collingwood VIC', price: '$$', menu: 'Beer Hall', rating: 5 })

  .Content_row
    .Content_main
      .Article_content
        :markdown
          There I met #{link_to 'Patima', 'https://twitter.com/the_patima', target: '_blank'} and #{link_to 'Mandy', 'https://twitter.com/mandy_kerr', target: '_blank'}, two of our fellow talented #{link_to 'Mixin', 'https://mixinconf.com', target: '_blank'} conference organisers, and #{link_to 'Mike', 'http://twitter.com/MikeRiethmuller/status/791156779996545024', target:'_blank'}, #{link_to 'one of our excellent MixinConf 2016 speakers', 'http://mixinconf.com/#mike-riethmuller', target: '_blank'}.

          We met with other CSSConfAU attendees, the very talented and passionate organisers, and speakers.

          Not to mention — a large number of Perth expats (#{link_to 'Jacob', 'https://twitter.com/jacob_____h', target: '_blank'}, #{link_to 'Mario', 'https://twitter.com/mariovisic', target: '_blank'}, #{link_to 'Simon', 'https://twitter.com/diversionary', target: '_blank'} to name a few, and more if I asked around I’m sure!)

  = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 2, caption: '', photos: ['29/PB290034','29/PB290038'] }, { count: 3, caption: '', photos: ['29/PB290039','29/PB290041','29/PB290054'] } ] } )

  .Content_row
    .Content_main
      .Article_content
        :markdown
          It’s always nice to catch up with everyone in the industry. Sometimes being in Perth can feel a little isolated but we have such a welcoming community that whenever we return to Melbourne or Sydney and catch up with everyone, it feels a bit like seeing an extended family.

          Some time much later that night, I decided I needed to get an uber home in preparation for the conference day ahead...

          ---

= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300057'})

.Content
  .Content_row
    .Content_main
      .Article_content
        :markdown
          The next morning I set off for CSSConf. It was a brisk Melbournian morning as I headed for the North Melbourne Meat Market.

          On the way I stopped in at Code Black Coffee to grab a quick filter to go.

  = partial("photoessays/components/place_drink", locals: {slug: current_page.data.slug, image: '30/place_codeblack', title: 'Code Black Coffee', address: '119 Howard St, North Melbourne VIC', price: '$$', menu: 'Coffee', rating: 5 })

  .Content_row#cssconf
    .Content_main
      .Article_content
        :markdown
          I then headed to the Meat Market/Arts House, where many attendees were already congregating.

          Before long the sign was placed outside, and we were in.

  = partial("photoessays/components/photo_right", locals: {slug: current_page.data.slug, caption: '~(˘▾˘~) CSSConf Time Again! (~˘▾˘)~', 'photo': '30/PB300066'})

  .Content_row
    .Content_main
      .Article_content
        :markdown
          After registration, I caught up with some fellow Perthians (or Perthons), some Melbournians, and some of the speakers.

  = partial("photoessays/components/photo_grid", locals: {slug: current_page.data.slug, rows: [ { count: 2, caption: '', photos: ['30/PB300074','30/PB300078'] } ] } )

  .Content_row
    .Content_main
      .Article_content
        :markdown
          After some coffee and bagels, we were entering the theatre to begin the day!

          #{link_to 'Ben Scwarz', 'https://twitter.com/benschwarz', target: '_blank'} and #{link_to 'Karolina Szczur', 'https://twitter.com/fox', target: '_blank'} took to the stage to welcome us, set the ground rules and go over the housekeeping, before handing over to #{link_to 'Kristina', 'https://twitter.com/kriesse', target: '_blank'} from CSSConfEU to emcee for the rest of the day, which was a nice touch.

          Kristina then introduced the first speaker of the day.

= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300093'})
.Content
  = partial("photoessays/components/talk", locals: {slug: "#{current_page.data.slug}/30", talk: 'Human Compatibility Error: How novice tech users in West Africa respond to your fancy CSS', name: 'Ally Long', twitter: 'allyelle', slides: '' } )
  .Content_row
    .Content_main
      .Article_content
        :markdown
          Ally kicked off the day by examining how people less tech savvy experience the apps we design and develop. It’s sometimes easy to forget as developers in the first world with access to the latest phones and with high standards of network connectivity how our work fares in less ideal scenarios.

          A lot of the work Ally encountered when working with people in West Africa led her to realise how different their experiences with technology were. Many had their first exposure to technology through second-hand, often knockoff phones, on networks with poor connectivity.

          And while there are simple things we take forgranted — like scrolling offscreen elements into view — many less tech savvy individuals were unaware of it, simply because of lack of prior experience.

          Another point Ally highlighted was the trend in flat design which eschews some visual affordance on elements. While we are still able to parse and use these interfaces, many less tech literate individuals are not as likely to realise they can interact with elements treated in this visual style.

= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300096'})
.Content
  = partial("photoessays/components/talk", locals: {slug: "#{current_page.data.slug}/30", talk: 'Accessibility matters. Let’s do something about it.', name: 'Ally Palanzi', twitter: 'mylifeasalllly', slides: 'http://allypalanzi.com/a11y/slides' } )

  .Content_row
    .Content_main
      .Article_content
        :markdown
          As Senior Front-End Engineer at #{link_to 'Vox Media', 'http://www.voxmedia.com', target: '_blank'}, Ally took us through the process of making Accessibility a key part of Vox’s development process.

          As designers and developers, the impact of disability is radically changed on the web because the web remove barriers to communication and interaction that exist in the physical world.

          A key takeaway from Ally’s talk was that by designing with disabilities in mind, we create better products for everyone. The results may not always quantifiable, but we should remember that these decisions improve the experience for everyone, rather than considering accessibility as some sort of edge-case.

          Ally stressed that for accessibility to be a key part of a team’s process, you have to make everyone care about it — not just a few people policing accessibility. In order to do so, Ally recommended keeping everyone accountable, making it part of the QA acceptance stage, and considering it as a key feature of any work.

= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300101'})
.Content
  = partial("photoessays/components/talk", locals: { slug: "#{current_page.data.slug}/30", talk: 'Getting Up To Speed with Accelerated Mobile Pages', name: 'Michael Rog', twitter: 'michaelrog' } )
  .Content_row
    .Content_main
      .Article_content
        :markdown
          Michael gave a talk on AMP, a tech spec backed by Google with the goal of

          Some of the features of AMP include

          - async everywhere
          - dns preconnect
          - static layout engine
          - content prioritization

= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300110'})
.Content
  = partial("photoessays/components/talk", locals: { slug: "#{current_page.data.slug}/30", talk: 'At Least 6 Ways to Win with CSS Modules', name: 'Josh Johnston', twitter: 'joshwnj' } )
  .Content_row
    .Content_main
      .Article_content
        :markdown
          In “At Least 6 Ways To Win With CSS”, Josh recounted the pain points of CSS which led to the creation of CSS Modules.

          Valid things that are difficult to do with CSS Modules.

          One of the main FORC — fear of removing CSS.

          When one of the UI components is not imported anymore, at that point, it’s easier to delete CSS.

          Ultimaetly, Josh stressed that with anything there is a tradeoff. “Good or better” is subjective — what’s the cost?

          In Josh’s experience, CSS Modules gave important value in a number of areas. Simpler class names and writing during authoring — only concerned with stuff that makes sense in your module. During Debugging, CSS Modules offered the benefits of immutabile CSS. Look at a class name, and know what it means, without any more context. Explicit mapping to DOM is easy to trace back to source of error.

          Refactoring is made better by the dependency tree. As soon as a module is disconnected, it can be deleted. D4

= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300124'})
.Content
  = partial("photoessays/components/talk", locals: { slug: "#{current_page.data.slug}/30", talk: 'SVGs beyond mere shapes', name: 'Nadieh Bremer', twitter: 'NadiehBremer' } )
  .Content_row
    .Content_main
      .Article_content
        :markdown
          After lunch, Nadieh took to the stage to discuss ways to use SVG for data analysis with SVG.

          Nadieh showed off some fascinating.

          Communicating data is important.

= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300126'})
.Content
  = partial("photoessays/components/talk", locals: { slug: "#{current_page.data.slug}/30", talk: 'Hey presto, CSS!', name: 'Barak Chamo', twitter: 'GoFoolhardy' } )
  .Content_row
    .Content_main
      .Article_content
        :markdown
          Barak took to the stage to deliver an entertaining and insightful talk about the gulf between a proposed CSS spec and its implementation by vendors.

          Houdini CSS Spec that will give you web magic powers.

          How CSS works.

          1. Stylesheet with CSS object model with all the properties, classes, and elements.
          1. Run through a layout phase, organise in final structure, block or inline elements.
          1. Paint phase, where we render thse components to a visual layout.
          1. Composition with the fully rendered web page.

          CSS Parser API allows us to implement out own constructs and custom functions and CSS at rules in the same way we use media queries.

          Extending the CSS engine itself. Select a frame from a gif, create a selection of image filters, in the same way CSS allows us to define custom typefaces.

          Typed CSS Object Model. Trying to get a value out of CSS and into javascript. Values have type, more context.

          Define your own CSS Layout with the Layout API.

= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300133'})
.Content
  = partial("photoessays/components/talk", locals: { slug: "#{current_page.data.slug}/30", talk: 'Progressive image rendering', name: 'José M. Pérez', twitter: 'jmperezperez' } )
  .Content_row
    .Content_main
      .Article_content
        :markdown
          After a quick coffee break, José took us through some advanced image optimisation techniques and avoiding some common pitfalls.

          One of the commonly-used incorrect ways trying to hiding images is using display: none on content images, but the browser will still see the image tag and load the resource.

          Unlike the costs associated with some tecnical choices, there is no downside to optimising your images. The Picure element and srcset is one solution, but the markup and CSS is tightly coupled and keeping markup and CSS in sync is extra effort.

          Another good technique is Lazy loading, but this can be difficullt to get right. The IntersectionObserver API is one way to help determine when elements are on the scren and should be loaded, and by displaying blurry, low-file-size placeholders, it can give a better end user experience.

          Only 7% of images on the web are progressive.

= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300137'})
.Content
  = partial("photoessays/components/talk", locals: { slug: "#{current_page.data.slug}/30", talk: 'The Ideal Styling Language: a gedankenexperiment', name: 'Serena Chen', twitter: 'sereeena' } )
  .Content_row
    .Content_main
      .Article_content
        :markdown
          Serena took to the stage to deliver an entertaining and thought-provoking thought experiment about what the ideal CSS language would look like for our needs today.

          One of the key takeaways for me was how little developers may understand the cascade. We often fear it, and perhaps don’t fully understand its limitations and opportunities.



= partial("photoessays/components/photo_full", locals: {slug: current_page.data.slug, caption: '', 'photo': '30/PB300147'})
.Content
  = partial("photoessays/components/talk", locals: { slug: "#{current_page.data.slug}/30", talk: 'Building a style guide for all Australians', name: 'Petra Gulicher', twitter: 'petronbot' } )
  .Content_row
    .Content_main
      .Article_content
        :markdown
          Petra

          Code comments + gulp = style guide
